<!--***************************Edit Gallerypic ********************************-->
		<!-- Modal -->
  <div class="modal img_modal fade col-md-7" id="editUser" role="dialog">
    <div class="modal-dialog img_modal-dialog" id="modal-center">
    
      <!-- Modal content-->
     
     	<div class="modal-header bgw">
	       <button type="button" class="close colorb" data-dismiss="modal" onclick="document.getElementById('for_blur').style.filter = 'blur(0px)'">X</button>
	       <h3 class="modal-title colorb">Ola!</h3>
	    </div>
        
        <div class="modal-body img_modal-body col-md-12 thumbs_wrap bgw">
        	<p class="colorg">We want to design your profile as good as possible. Can you help us?</p>
        	<form name="form" ng-submit="editProfile(user)" ng-model="form" style="color:black">
        		<div class="col-md-6" style="padding:20px">
	        	
	        		<div class="form-group">
		          		<input type="text" ng-model="user.name" placeholder="Name" class="form-control">
		          	</div>
		          	<div class="form-group">
		          		<textarea class='autoExpand' rows='3' data-min-rows='3' placeholder='About' id="textarea" style="width:100%" ng-model="user.about" data-bind="hasfocus: true"></textarea>
		          	</div>
		          	<div class="form-group">
		          		<input type="text" ng-model="user.proPic" placeholder="Profile Pic" class="form-control">
		          		<img src="{{user.proPic}}" width="30%" height="auto" id="dp" style="margin:10px 35%">
		          	</div>
					
					<br/>
		         	
		         
		    	</div>
		    	<div class="col-md-6" style="padding:20px">
		    		<div class="form-group">
		          		<input type="text" ng-model="user.galleryPic" placeholder="Event Cover" class="form-control">
		          	</div>
		          	<img src="{{user.galleryPic}}" width="100%" height="auto" >
			    </div>
	         	<button type="submit" class="b2w">Save</button>
	        </form>
        </div>
        
      </div>
      
    </div>
<!--***************************Edit Gallerypic Closes ********************************-->


 <div class="modal img_modal fade" id="dp_modal" role="dialog">
    <div class="modal-dialog img_modal-dialog" id="modal-center">
    
      <!-- Modal content-->
     	
        
        <div class="modal-body img_modal-body centric glassy" id="editModal">

        	<p>
        		New Profile Pic
        		<button type="button" class="close img_close" data-dismiss="modal" onclick="document.getElementById('for_blur').style.filter = 'blur(0px)'">&times;</button>
        	</p>
        	<div class="col-md-3">
        		<img src="{{ProfilePic}}" width="100%" height="100%">
        	</div>
        	<div class="col-md-9" style="padding:10px 5px">
	        	<form name="form" ng-submit="editProfile(form.proPicUrl,4)" ng-model="form">
	        		<div class="form-group">
		          		<input type="text" ng-model="form.proPicUrl" placeholder="New Url of Profile Picture" class="form-control" ng-change="displayProPic(form.proPicUrl">
		          	</div>
		         <button type="submit" class="b2w">Submit</button>
		         </form>
	        </div>
        </div>
        
      </div>
      
    </div>


<!--********************* booking date****************************************-->

<script type="text/ng-template" id="myModalBookADay.html">

	<div class="col-md-12">
 		<div class="col-md-6" style="margin:150px 25%">
			<div class="modal-header bgw">
		       <button type="button" class="close colorb" ng-click="cancel()">X</button>
		       <h3 class="modal-title colorb">Can we know about your event</h3>
		    </div>

		    <div class="modal-body img_modal-body col-md-12 thumbs_wrap bgw colorb " >				
                <form name="form" ng-submit="bookPost()" ng-model="form" class="bgw">
               		<div class="col-md-12 datepckr">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="openedSD" min-date="minDate" max-date="' + '"2037-06-22"' + '" datepicker-options="dateOptions"  ng-required="true" close-text="Close" style="height:34px" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openSD($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div ng-click="ok()"><button type="submit" class="w2g">Book</button></div>
                </form>
            </div>
        </div>    
    </div>            
            
</script>

<!--***************booking date closes*****************************************-->

<!--***************************Create Event ******************************************-->


  <div class="modal img_modal fade col-md-11" id="event" role="dialog">
    <div class="modal-dialog img_modal-dialog" id="modal-center">
    
      <!-- Modal content-->
     	<div class="modal-header bgw">
	       <button type="button" class="close colorb" data-dismiss="modal" onclick="document.getElementById('for_blur').style.filter = 'blur(0px)'">X</button>
	       <h3 class="modal-title colorb">Can we know about your event</h3>
	    </div>
        
        <div class="modal-body img_modal-body col-md-12 thumbs_wrap bgw colorb " ng-if="club" >
        	<form name="form" ng-submit="createEvent(form)" ng-model="form" style="color:black">
        		<div class="col-md-6" style="border-right:2px solid white;padding:20px">
	        	
	        		<div class="form-group" style="width:50%;float:left">
		          		<input type="text" ng-model="form.name" placeholder="Event Name" class="form-control" >
		          	</div>
		          	<div class="form-group" style="width:50%">
		          		<input type="text" ng-model="form.location" placeholder="Event Location" class="form-control" >
		          	</div>
		          	<div class="form-group">
		          		<textarea class='autoExpand' rows='3' data-min-rows='3' placeholder='Description' id="textarea" style="width:100%" ng-model="form.description" data-bind="hasfocus: true"></textarea>
		          	</div>
		          	
		          	<div class="form-group">
		          		<span style="color:white">Start Date</span>
		          		
			          	<div >
			          		<div class="col-md-6 datepckr" ng-controller="DatepickerDemoCtrl">
					            <p class="input-group">
						            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="form.dtSD" is-open="openedSD" min-date="minDate" max-date="'2037-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" style="height:34px" />
									<span class="input-group-btn">
									    <button type="button" class="btn btn-default" ng-click="openSD($event)"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</p>
							</div> 
							<div ng-controller="TimepickerDemoCtrl" ng-app="myAppApp">

							<uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
							</div>
						</div>
					</div>
					<br/>
					<br/>
					<div class="form-group" ng-click="endDate()">
						<md-checkbox ng-model="form.endDateTF" aria-label="Checkbox 1" >
				          Add an End Date?
				        </md-checkbox>
				        <div ng-show="form.endDateTF">
		          			<span style="color:white">End Date</span><br>
			          		<div class="col-md-6 datepckr" ng-controller="DatepickerDemoCtrl">
					            <p class="input-group">
						            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="form.dtED" is-open="openedED" min-date="minDate" max-date="'2037-06-22'" datepicker-options="dateOptions"  ng-required="false" close-text="Close" style="height:34px" />
									<span class="input-group-btn">
									    <button type="button" class="btn btn-default" ng-click="openED($event)"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</p>
							</div> 
						</div>
					</div>
					<br/>
					<br/>
					<!-- <div class="form-group">	
						<input type="text" class="form-control upld_form" ng-model="form.tags" placeholder="Tag a category">
					</div> -->
					
					<br/>
		         	
			    </div>
			    <div class="col-md-6" style="padding:20px">
		    		<div class="form-group">
		          		<input type="text" ng-model="form.galPic" placeholder="Event Cover" class="form-control">
		          	</div>
		          	<img src="{{form.galPic}}" width="100%" height="auto">
		          	<md-checkbox ng-model="form.regReq" aria-label="Checkbox 1" >
			          Is Registration Required?
			        </md-checkbox>
			        <md-checkbox ng-model="form.comp" aria-label="Checkbox 1" >
			          Is it a competition?
			        </md-checkbox>
			        <md-checkbox ng-model="form.subOnl" aria-label="Checkbox 1"  ng-show="form.comp" style="margin:0px 50px">
			          Is the submission online?
			        </md-checkbox>
			        <md-radio-group ng-model="form.submissionType" ng-show="form.subOnl">
				      <md-radio-button value="Image" > Image</md-radio-button>
				      <md-radio-button value="Video"> Video </md-radio-button>
				      <md-radio-button value="Document"> Document</md-radio-button>
				    </md-radio-group>
		          	<div class="form-group">
						<tags-input ng-model="form.vedik" add-on-paste="true" display-property="name" placeholder="Add the Vedik" add-from-autocomplete-only="true"  class="bootstrap" replace-spaces-with-dashes="false">
	     			      <auto-complete source="loadTags($query)" max-results-to-show="10"></auto-complete>
					    </tags-input>
					</div>
			    </div>
		    <button type="submit" class="b2w" style="float:right">Create</button>
		    </form>
        </div>
      
    </div>
  </div>
<!--**************************** Edit club data**************************************-->

<div class="modal img_modal fade" id="editClub" role="dialog">
    <div class="modal-dialog img_modal-dialog" id="modal-center">
    
      <!-- Modal content-->
     
        
        <div class="modal-body img_modal-body glassy_thick col-md-10" style="margin:50px 8.3%;border:2px solid white" ng-if="club">
        	<p>
        		<h3 class="centric" >Edit Details</h2>
        		<button type="button" class="close img_close" data-dismiss="modal" onclick="document.getElementById('for_blur').style.filter = 'blur(0px)'">&times;</button>
        	</p>
        	<form name="form" ng-submit="editClub(club)" ng-model="form" style="color:black">
        		<div class="col-md-6" style="border-right:2px solid white;padding:20px">
	        	
	        		<div class="form-group">
		          		<input type="text" ng-model="club.name" placeholder="Club Name" class="form-control">
		          	</div>
		          	<div class="form-group">
		          		<textarea class='autoExpand' rows='3' data-min-rows='3' placeholder='About' id="textarea" style="width:100%" ng-model="club.about" data-bind="hasfocus: true"></textarea>
		          	</div>
					<div class="form-group">
						<tags-input ng-model="club.vedik" add-on-paste="true" display-property="name" placeholder="Add the Vedik" add-from-autocomplete-only="true"  class="bootstrap" replace-spaces-with-dashes="false">
	     			      <auto-complete source="loadTags($query)" max-results-to-show="10"></auto-complete>
					    </tags-input>
					</div>
					<br/>	         	
		         
		    	</div>
			    <div class="col-md-6" style="padding:20px">
		    		<div class="form-group">
		          		<input type="text" ng-model="club.galleryPic" placeholder="Event Cover" class="form-control">
		          	</div>
		          	<img src="{{club.galleryPic}}" width="100%" height="auto">
			    </div>
			    <button type="submit" class="b2w">Save</button>
		    </form>
        </div>
      
    </div>
  </div>



  	
<!--**********************************************************************************************-->
  			<div ng-controller="DatepickerDemoCtrl">
  					 <div class="modal img_modal fade" id="date_picker" role="dialog">
						    <div class="modal-dialog img_modal-dialog" id="modal-center">
						    
						      <!-- Modal content-->
						     
						        
						       		<div class="modal-body img_modal-body centric glassy">
												 <div class="col-md-6 datepckr">
										            <p class="input-group">
										              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2037-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" style="height:34px" />
										              <span class="input-group-btn">
										                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
										              </span>
										            </p>
										        </div> 
									</div> 
								</div>
		        
					      </div>
					      
					</div>
			</div>
  
<!--*********************Broadcast**********************-->
<div class="modal img_modal fade col-md-7" id="broadcast" role="dialog">
    <div class="modal-dialog img_modal-dialog" id="modal-center">
    
      <!-- Modal content-->
     
     	<div class="modal-header bgw">
	       <button type="button" class="close colorb" data-dismiss="modal" onclick="document.getElementById('for_blur').style.filter = 'blur(0px)'">X</button>
	       <h3 class="modal-title colorb">Broadcast</h3>
	    </div>
        
        <div class="modal-body img_modal-body col-md-12 thumbs_wrap bgw">

		  <div class="thumbs_wrap col-md-12"  style="border:2px solid white;padding:10px;">
            
            <div >
              <ul class="nav nav-tabs" style="width:40%;">
                <li  class="active"><a href="#article_up" data-toggle="tab" style="padding:0px"><span class="glyphicon glyphicon-open" style="padding:6px 5px"></span> Post</a></li>               
                <li ><a href="#image_up" data-toggle="tab" style="padding:0px"><span class="glyphicon glyphicon-open" style="padding:6px 5px"></span> Image</a></li>
                <li ><a href="#video_up" data-toggle="tab" style="padding:0px"><span class="glyphicon glyphicon-open" style="padding:6px 5px" ></span> Video</a></li>
              </ul>
              	<form name="form"  ng-model="form">
                  <div class="tab-content">
                      <div class="tab-pane fade in active" id="upload_form2">
                    
                        <div class="col-md-6">
                          	<div class="form-group">
	                      	   <input type="text" class="form-control upld_form" ng-model="event.name" placeholder="Name" disabled>
	                     	</div>
	                     	<div class="form-group">
	                        	<textarea class='autoExpand form-control' rows='3' data-min-rows='3' placeholder='Description' id="textarea" style="width:100%" ng-model="fevent.description" data-bind="hasfocus: true" disabled>
	                          </textarea>                       
                        	</div>
                        </div>
                        
                      
                        <div class="col-md-6"> 
                          	<div class="tab-content">
	                            <div id="article_up" class="tab-pane fade in active">
	                                <button type="submit" class="b2w" ng-click="BPost()">Submit</button>
	                            </div>
		                        <div id="image_up" class="tab-pane fade">
		                            <div class="form-group">  
		                              <input type="text" class="form-control upld_form" ng-model="form.picUrl" placeholder="Image Url">
		                            </div>
		                            <img src="{{form.picUrl}}" width="100%" height="auto">
		                            <button type="submit" class="b2w" ng-click="BImage(form)">Submit</button>
		                        </div>
		                        <div id="video_up" class="tab-pane fade">
		                            <div class="form-group">
		                                        
		                              <input type="text" class="form-control upld_form" ng-model="form.vidUrl" placeholder="Youtube link to video">
		                            </div>
		                            <div class="form-group">              
		                              <input type="text" class="form-control upld_form" ng-model="form.posterUrl" placeholder="Poster Url">
		                            </div>
		                            <img src="{{form.posterUrl}}" width="100%" height="auto">
		                            <button type="submit" class="b2w" ng-click="BVideo()">Submit</button>
		                        </div>
                      		</div>
                      	</div>
                      
                        
                          
                        

                    </div>
                 
                  </div>
                </form>
            </div>

        </div>
       </div>
     </div>
</div>

<!--***********Broadcast closes***************************************************************-->

  
<!--************************************ Declare Results  ************************************************-->
<div class="modal img_modal fade col-md-7" id="declareRes" role="dialog">
    <div class="modal-dialog img_modal-dialog" id="modal-center">
    
      <!-- Modal content-->
     
     	<div class="modal-header bgw">
	       <button type="button" class="close colorb" data-dismiss="modal" onclick="document.getElementById('for_blur').style.filter = 'blur(0px)'">X</button>
	       <h3 class="modal-title colorb">Declare Results</h3>
	    </div>
        
        <div class="modal-body img_modal-body col-md-12 thumbs_wrap bgw">

		  <div class="thumbs_wrap col-md-12"  style="border:2px solid white;padding:10px;">
            
            <div >
              	<form name="form"  ng-model="form" ng-submit="declareRes(a,event.resNo)">
                  <div class="tab-content">
                    <div class="tab-pane fade in active" id="upload_form2">
                    
                        <div class="col-md-12">
                          	<div class="form-group">
	                      	   <input type="text" class="form-control upld_form" ng-model="event.resNo" placeholder="How many should be selected?" required>
	                     	</div>                      
                      
                      		<div class="col-md-12 box_shadow_dwn " style="padding:10px">
					            <md-subheader class="md-no-sticky">Selected Entries</md-subheader>
					        	<div class="col-md-4" ng-repeat="entry in event.entries | orderBy:myValueFunction | limitTo:event.resNo"  style="padding:10px" ng-init="a[$index]=entry">
					             	<span>{{entry.user.name}}</span>
					                <img alt="{{entry.entry.entry }}" ng-src="{{entry.entry.entry }}" width="100%" height="auto" />                
					                <rating ng-model="entry.entry.rating" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" ng-click="ratePost(entry.entry.rating,entry.entry._id)"></rating>
					                <md-icon md-svg-icon="communication:messenger" ng-click="doSecondaryAction($event)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}"></md-icon>
					                
					              
					        	</div> 
					        	                     	
                      		</div>
                      
                        	<button type="submit" class="w2g col-md-12">Declare</button>
                        	<p class="sizeten colorg">*Remember, Results once declared cannot be taken back</p>
                          
                        

                   		 </div>
                 
                 	</div>
                  </div>
                </form>
            </div>

        </div>
       </div>
     </div>
</div>

<!--***********Broadcast closes***************************************************************-->
<!--*****************************Submit entry opens*******************************************-->
<div class="modal img_modal fade col-md-7" id="submitEntry" role="dialog">
    <div class="modal-dialog img_modal-dialog" id="modal-center">
    
      <!-- Modal content-->
     
     	<div class="modal-header bgw">
	       <button type="button" class="close colorb" data-dismiss="modal" onclick="document.getElementById('for_blur').style.filter = 'blur(0px)'">X</button>
	       <h3 class="modal-title colorb">Submit Entry</h3>
	    </div>
        
        <div class="modal-body img_modal-body col-md-12 thumbs_wrap bgw">

		  <div class="thumbs_wrap col-md-12"  style="border:2px solid white;padding:10px;">

		  	<form ng-submit="subEntry(entry)">            
	            <input type="text" placeholder="Entry Link" ng-model="entry" style="width:50%"><br/><br/>
	            <button type="submit" class="b2w">Submit</button>
            </form>

        </div>
       </div>
     </div>
</div>
<!--submit entry closes*********************************************************************-->

<!--***********************************upload section******************************************-->
	        								

<!--<div class="booking_body">
	<div id="upload" class="modal img_modal fade" role="dialog">
		<div class="modal-dialog img_modal-dialog">

						<!-- Modal content
					      
							
			<div class="modal-body img_modal-body centric">
			    <button type="button" class="close img_close" data-dismiss="modal" onclick="document.getElementById('for_blur').style.filter = 'blur(0px)'">&times;</button>
        		<div onclick="document.getElementById('upld_display').style.display = 'block'">
					<a href="#article_form" data-toggle="tab" ><button type="button" class="b2w" id="up_art">Article</button></a>
	        		<a href="#img_form" data-toggle="tab" ><button type="button" class="b2w" id="up_art">Image</button></a>
	        		<a href="#video_form" data-toggle="tab" ><button type="button" class="b2w" id="up_art">Video</button></a>
	        	</div>


	       		<div id="upld_display"  class="tab-content col-md-6">
					<button type="button" class="close" onclick="document.getElementById('HOF_display').style.display = 'none'">&times;</button>
					<ul class="nav nav-tabs">
					 	 
					</ul>

					<div class="tab-content">
						<div class="tab-pane fade in active" id="upload_form" ng-controller="UploadPortalCtrl">
							<div class="tab-content">

											<!--************Video Upload Form********
								<div id="video_form" class="tab-pane fade in active" >
									<form name="form" ng-submit="videoSubmit(form)" ng-model="form">
										<div class="tab-content">
											<div id="video_det" class="tab-pane fade in active" >
												<h3>Add your Video here</h3>
													
												<div class="form-group">
													
													<input type="text" class="form-control upld_form" ng-model="form.vidName" placeholder="Name of Video">
												</div>
												<div class="form-group">
															
													<input type="text" class="form-control upld_form" ng-model="form.vidUrl" placeholder="Youtube link to video" 
															>
												</div>
												<div class="form-group">
															
													<input type="text" class="form-control upld_form" ng-model="form.posterUrl" placeholder="Poster Url">
												</div>
												<div class="form-group"> <!-- Put text area 
													<textarea class='autoExpand form-control' rows='3' data-min-rows='3' placeholder='Description' id="textarea" style="width:100%" ng-model="form.description" data-bind="hasfocus: true">
			                						</textarea>
															
													
												</div>
												<div >
													<tags-input ng-model="form.genres" add-on-paste="true" display-property="name" placeholder="Genre/Category" add-from-autocomplete-only="true"  class="bootstrap" replace-spaces-with-dashes="false">
												        <auto-complete source="loadTags($query)" max-results-to-show="10"></auto-complete>

												    </tags-input>
												</div>
												
												<div>
													<tags-input ng-model="form.vedik" add-on-paste="true" display-property="name" placeholder="Add the Vedik" add-from-autocomplete-only="true"  class="bootstrap" replace-spaces-with-dashes="false">
												        <auto-complete source="loadTags($query)" max-results-to-show="10"></auto-complete>

												    </tags-input>
												</div>
												<a href="#creditsVideo" data-toggle="tab" class="b2w">Next</a>
						
											</div>
											<div id="creditsVideo" class="tab-pane fade" style="background:white">
									    
											    <table>
											    	<tr>
											    		<th>Credit</th>
											    		<th>User</th>
												  	</tr>											    				
											    	<tr ng-repeat="credit in creditType">
											    		<td style="width:50%;verticle-align:top">
		 									    			<div  layout="column" ng-cloak  ng-controller="AutoComplete as ctrl">

				  <md-content class="md-padding">
				    <form ng-submit="$event.preventDefault()" name="searchForm">
				     
				      <div layout-gt-sm="row">
				        
				        <md-autocomplete flex required
				            md-input-name="autocompleteField"
				            md-input-minlength="2"
				            md-input-maxlength="18"
				            md-no-cache="ctrl.noCache"
				            md-selected-item="ctrl.credit[$index]"
				            md-search-text="ctrl.searchText"
				            md-items="item in ctrl.querySearch(ctrl.searchText,$index)"
				            md-item-text="item.creditDetail"
				            md-floating-label="Credit"
				           
				           	md-menu-class="autoCompleteDropDown"
				           >
				          <md-item-template>
				            <span md-highlight-text="ctrl.searchText">{{item.creditDetail}}</span>
				          </md-item-template>
				          <!--<div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
				            <div ng-message="required">You <b>must</b> have a favorite state.</div>
				            <div ng-message="minlength">Your entry is not long enough.</div>
				            <div ng-message="maxlength">Your entry is too long.</div>
				          </div>--

				        </md-autocomplete>
				      </div>
				       </form>

				  </md-content>
				</div>
														    			
														    		</td>
														    		<td style="width:50%;vertical-align: bottom;">
														    			<tags-input ng-model="creditUser[$index]" display-property="name" add-from-autocomplete-only="true"  class="bootstrap" >
				      													<auto-complete 
				      													source="getSuggestionsForNames($query)"
				      													min-length='1'>
				      													</auto-complete>
				    												</tags-input>
														    		</td>
														    	</tr>
														    	<tr>
														    		<td style="padding:10px 0px">
														    			<button type="button" class="b2w" ng-click="addCredit()">Add Credit</button>
														    		</td>
														    		<td style="padding:10px 0px"><a data-toggle="tab" href="#video_det" class="b2w">Back</a>
										      						</td>
										      					</tr>
										      				
													    							    		
													    </table>

												   
										      		<div>
										      			
										      			<button type="submit" class="b2w">Submit</button>
										      		</div>

										      		
										    	</div>
										    	</div>
										    </form>
										   	</div>
										
												<!--***************Article Upload form**************--

												<div id="article_form"  class="tab-pane fade">
												<form name="form" ng-submit="articleSubmit(form)" ng-model="form">
													<div class="tab-content">
													<div id="article_det" class="tab-pane fade in active" >
														<h3>Add your Article here</h3>
													
														<div class="form-group">
															<input type="text" class="form-control upld_form" ng-model="form.articleName" placeholder="Article Name">
														</div>
														<div class="form-group">
															<input type="text" class="form-control upld_form" ng-model="form.description" placeholder="Description">
														</div>
														<div class="form-group">	
															<textarea  class="form-control upld_form" ng-model="form.content" placeholder="Type your Article" ></textarea>
														</div>
														<div class="form-group">	
															<input type="text" class="form-control upld_form" ng-model="form.tags" placeholder="Tag a category">
														</div>
														<div class="form-group">
															<tags-input ng-model="form.vedik" add-on-paste="true" display-property="name" placeholder="Add the Vedik" add-from-autocomplete-only="true"  class="bootstrap" replace-spaces-with-dashes="false">

														      <auto-complete source="loadTags($query)" max-results-to-show="10"></auto-complete>

														    </tags-input>
														</div>
															<a href="#creditsArticle" data-toggle="tab" class="b2w">Next</a>
														</div>
														<div id="creditsArticle" class="tab-pane fade">
										    
										    
													    <table>
													    	<tr>
													    		<th>Credit</th>
													    		<th>User</th>
													    	</tr>
													    				
														    	<tr ng-repeat="credit in creditType">
														    		<td style="width:50%;verticle-align:top">
														    			<tags-input ng-model="creditType[$index]" display-property="creditDetail" add-from-autocomplete-only="true" max-tags="1" enforce-max-tags  class="bootstrap">
				      													<auto-complete 
				      													source="getSuggestionsForCredits($query)"
				      													
				      													>
				      													</auto-complete>
				    												</tags-input>
														    		</td>
														    		<td style="width:50%;verticle-align:top">
														    			<tags-input ng-model="creditUser[$index]" display-property="name" add-from-autocomplete-only="true"  class="bootstrap">
				      													<auto-complete 
				      													source="getSuggestionsForNames($query)"
				      													min-length='1'>
				      													</auto-complete>
				    												</tags-input>
														    		</td>
														    	</tr>	
													    							    		
													    </table>

												   
										      		<div>
										      			<button type="button" class="b2w" ng-click="addCredit()">Add Credit</button>
										      			<a data-toggle="tab" href="#article_det" class="b2w">Back</a>
										      			<br/>
										      			<button type="submit" class="b2w">Submit</button>
										      		</div>

										      		
										    	</div>
														</div>
												</form>
												</div>

												<!--**********Image Upload Form******************--

												<div id="img_form"  class="tab-pane fade">
												<form name="form" ng-submit="imageSubmit(form)" ng-model="form" >
													<div class="tab-content">
													<div id="image_det" class="tab-pane fade in active" >
													<h3>Add your Image here</h3>
													
														<div class="form-group">
															<input type="text" class="form-control upld_form" ng-model="form.imgName" placeholder="Image Name">
														</div>
														<div class="form-group">
															<input type="text" class="form-control upld_form" ng-model="form.description" placeholder="Description">
														</div>
														<div class="form-group">	
															<input type="text" class="form-control upld_form" ng-model="form.picUrl" placeholder="Image Url">
														</div>

														<div class="form-group">	
															<input type="text" class="form-control upld_form" ng-model="form.tags" placeholder="Tag a category" >
														</div>
														<div class="form-group">
															<tags-input ng-model="form.vedik" add-on-paste="true" display-property="name" placeholder="Add the Vedik" add-from-autocomplete-only="true"  class="bootstrap" replace-spaces-with-dashes="false">

														      <auto-complete source="loadTags($query)" max-results-to-show="10"></auto-complete>

														    </tags-input>
														</div>
															<a href="#creditsImage" data-toggle="tab" class="b2w">Next</a>	
														</div>
														<div id="creditsImage" class="tab-pane fade">
										    
										    
															    <table>
															    	<tr>
															    		<th>Credit</th>
															    		<th>User</th>
															    	</tr>
															    				
																    	<tr ng-repeat="credit in creditType">
																    		<td style="width:50%;verticle-align:top">
																    			<tags-input ng-model="creditName[$index]" display-property="creditDetail" add-from-autocomplete-only="true" max-tags="1" enforce-max-tags  class="bootstrap">
						      													<auto-complete 
						      													source="getSuggestionsForCredits($query)"
						      													
						      													>
						      													</auto-complete>
						    												</tags-input>
																    		</td>
																    		<td style="width:50%;verticle-align:top">
																    			<tags-input ng-model="creditUser[$index]" display-property="name" add-from-autocomplete-only="true"  class="bootstrap">
						      													<auto-complete 
						      													source="getSuggestionsForNames($query)"
						      													min-length='1'>
						      													</auto-complete>
						    												</tags-input>
																    		</td>
																    	</tr>	
															    							    		
															    </table>

														   
												      		<div>
												      			<button type="button" class="b2w" ng-click="addCredit()">Add Credit</button>
												      			<a data-toggle="tab" href="#image_det" class="b2w">Back</a>
												      			<br/>
												      			<button type="submit" class="b2w">Submit</button>
												      		</div>

												      		
												    	</div>
														</div>						
													</form>
													<div  >
														<img src="{{form.picUrl}}" height="400px" width="auto" >
													</div>
												</div>
											</div>

										</div>


										<div id="credits" class="tab-pane fade">
										    
										    
											    <table>
											    	<tr>
											    		<th>Credit</th>
											    		<th>User</th>
											    	</tr>
											    				
												    	<tr ng-repeat="credit in creditType">
												    		<td style="width:50%;verticle-align:top">
												    			<tags-input ng-model="creditName[$index]" display-property="creditDetail" add-from-autocomplete-only="true" max-tags='1'  class="bootstrap">
		      													<auto-complete 
		      													source="getSuggestionsForCredits($query)"
		      													min-length='1'
		      													>
		      													</auto-complete>
		    												</tags-input>
												    		</td>
												    		<td style="width:50%;verticle-align:top">
												    			<tags-input ng-model="creditUser[$index]" display-property="name" add-from-autocomplete-only="true"  class="bootstrap">
		      													<auto-complete 
		      													source="getSuggestionsForNames($query)"
		      													min-length='1'>
		      													</auto-complete>
		    												</tags-input>
												    		</td>
												    	</tr>	
											    							    		
											    </table>

										   
								      		<div>
								      			<button type="button" class="b2w" ng-click="addCredit()">Add Credit</button>
								      			<a data-toggle="tab" href="#upload_form" class="b2w">Back</a>
								      			<br/>
								      			<button type="submit" class="b2w">Submit</button>
								      		</div>

								      		
								    	</div>
									</div>
										
								</div>
							
								</div>
							</div>
						</div>
					</div>
				
-->
<!--********************************upload section closes***********************************-->


<!-- IMAGE Modal -->

<script>
	$(document).ready(function(){
    
       var height=$(window).height();
        $("#img_viewed").css("height", height);
    
});
</script>



<script type="text/ng-template" id="myModalImage.html">
	<div id="img_view" >
      	<button type="button" class="close img_close" ng-click="cancel()" style="font-size:40px;color:white">&times;</button>
      	<div id="wrapper">
	      	<div id="img_viewed">
	        	<img src="{{image.imageId.picUrl}}"	width="100%" >
	        
		        <div id="img_viewed_info">
		       		<img src="assets/images/fade2black.png" height="70px" width="100%" style="opacity:0.5;" alt="">
			        <div id="img_name">{{image.imageId.imgName}}</div>
			        <img src="assets/images/fade2black btm.png" height="70px" width="100%" style="opacity:0.5;" alt="" id="img_shade_bottom">
			        <div id="img_des">{{image.imageId.description}}</div>
		        </div>
	        </div>

        </div>
        <div id="img_des_com" class="glassy col-md-8">
        	  <div class="centric">
	       		<rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" ng-click="ratePost(rate)"></rating> {{rating}} by {{votes}}
        			<br><span ng-show="userRate" style="font-size:10px">You Have not rated yet</span>
        	  </div>		
			  <ul class="nav nav-tabs">			  	
			    <li><a data-toggle="tab" href="#img_description">Description</a></li>
			    <li><a data-toggle="tab" href="#img_credits">Credits</a></li>
			    <li class="active"><a data-toggle="tab" href="#img_comments">Comments</a></li>
			  </ul>

			  <div class="tab-content">
			    
			    <div id="img_description" class="tab-pane fade">
			      <h3>Description</h3>
			      <p>{{image.imageId.description}}</p>
			    </div>
			    <div id="img_credits" class="tab-pane fade">
			       <h3>Credits<hr></hr></h3>
			       <table>
			       		<tr ng-repeat="credit in credit">
			       			<td style="width:25%">
			       				<ul class="nav nav-tabs floatL">
								    <li class="btnbg rlmargin"><a data-toggle="tab" href="#booked_display">{{credit.credit.creditDetail}}</a></li>
								    								    
								</ul>
			       			</td>
			       			<td>
			       				<ul class="nav nav-tabs floatL">
								    <li class="btnbg rlmargin" ng-repeat="creditedUsers in credit.creditedUsers"><a data-toggle="tab" href="#booked_display">{{creditedUsers.user.name}}</a></li>
								    								    
								</ul>					       				
								
			       			</td>
			       		</tr>
			       </table>
			    </div>
			    <div id="img_comments" class="tab-pane fade in active">
			      <div>
                        <div>
                            <h4>Leave a Comment:</h4>
                            <form name="myForm" ng-submit="submitComment()" class="form" novalidate> 
                                <div class="form-group">
                                    <textarea class="form-control" rows="auto" ng-model="commentData"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <ul id="comments_list">
                            <li ng-repeat="comment in comments" >
                                
                                <div class="thumbs_wrap comments">
                                	<md-list-item class="md-2-line">
								      <img ng-src="https://wallpaperscraft.com/image/zac_efron_boy_cute_face_smile_long_hair_8755_1600x1200.jpg" class="md-avatar" alt="userPic" />
								        <div class="md-list-item-text">
								          <h3>{{comment.comment.commentPutter}}</h3>
								          <p ng-show="!toggleVal">{{comment.comment.commentData}}</p>
								          <div class="form-group" ng-show="toggleVal">
	                                       	<textarea class="form-control autoExpand" data-min-rows="1" rows="1" ng-model="editData" value="{{comment.comment.commentData}}"></textarea>
	                                       	<span  ng-click="edit(comment.comment._id,editData,$index)" style="font-size:11px">Save</button>
	                                       	<button class="btn btn-default" ng-click="toggleVal=!toggleVal" style="font-size:11px">Cancel</button>
	                                    </div>
								        </div>
								      </md-list-item>
                              
                                    <span id="comment_time">{{comment.comment.datePosted | date:'medium'}}
                                    	<span  ng-show="comment.comment.commentPutter===user().name" ng-click="delete(comment.comment._id,$index)"><a href="#">Delete</a></span>
                                    	<span  ng-show="comment.comment.commentPutter===user().name" ng-click="toggleVal=!toggleVal"><a href="#">Edit</a></span>
                                    </span>
                                    
                                </div>
                            </li>
                        </ul>
                    </div>
			    </div>
			  </div>
			  <div style="height:200px;width:100%"></div>


		</div>


      
    

  </div>

</script>



<!--****************************************Video view modal***************************-->

<div id="videoview" class="modal img_modal fade" role="dialog">

      <button type="button" class="close img_close" data-dismiss="modal" onclick="document.getElementById('for_blur').style.filter = 'blur(0px)'">&times;</button>


      
    

    <div  id="video">
        <div class="wrapper">
         <img src="http://www.solidbackgrounds.com/images/1280x720/1280x720-ghost-white-solid-color-background.jpg" alt="" id="video_play"/>
         <iframe  src="https://www.youtube.com/embed/3p_R7K13-Fs" frameborder="0" allowfullscreen></iframe>
            
        </div>
        <div class="content" id="title">
            <span id="video_name">{{video.vidname}}</span>
        </div>
        <div simple ng-model="rating1" max="5" on-rating-selected="rateFunction(rating)"></div>
    </div>
      <!-- info, comments, reviews etc of video-->
        <div class="stage col-md-9"  id="vid_stuff">
            <div class="content">
            <!--Crew and cast-->
                <div id="credits" >
                <!--credits start-->
                
 
  
                     
                        
                      
                    </div>

                   
                <!--credits end-->

               
                </div>
                <!--Best part, comments, review-->
                <ul class="nav nav-tabs" id="view_page_tabs">
                        <li class="active"><a data-toggle="tab" href="#best_part">Best Part</a></li>
                        <li><a href="#comments" data-toggle="tab">Comments</a></li>
                        <li><a href="#reviews" data-toggle="tab">Reviews</a></li>
                 </ul>

                 <!--tab content-->
                <div class="tab-content">
                    <div id="best_part" class="tab-pane fade in active">
                        <h3>Best part<hr></hr></h3>
                    </div>
                    <div id="comments" class="tab-pane fade">
                        
                        <div>
                            <div>
                                <h4>Leave a Comment:</h4>
                                <form name="myForm" ng-submit="submit()" class="form" novalidate> 
                                    <div class="form-group">
                                        <textarea class="form-control" rows="auto" ng-model="commentData"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                            <ul id="comments_list">
                                <li ng-repeat="comment in video.comments" >
                                    
                                    <div class="thumbs_wrap comments">
                                    
                                         <img src="http://www.infinitetechnologies.co.in/wp-content/uploads/2015/07/f3.jpg" width="70px" height="70px">
                                        <span class="commenter">{{comment.comment.commentPutter}}</span>
                                     <!--   <span><img src="http://www.rottweilerheartsrescue.org/Images/fade2black.png" height="30px" width="100%" style="opacity:0.5;z-index:9;position:absolute"></span>-->
                                        <span id="comment_data">{{comment.comment.commentData}}</span><br>
                                        <span id="comment_time">{{comment.comment.datePosted | date:'medium'}}
                                        <span  ng-show="comment.comment.commentPutter===user.name" ng-click="delete(comment.comment._id)"><a href="#">Delete</a></span>
                                        <span  ng-show="comment.comment.commentPutter===user.name" ng-click="toggleVal=!toggleVal"><a href="#">Edit</a></span></span>
                                        <div class="form-group" ng-show="toggleVal">
                                            <textarea class="form-control" rows="3" ng-model="editData"></textarea>
                                            <button class="btn btn-default" ng-click="edit(comment.comment._id,editData)">Submit</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="reviews" class="tab-pane fade">
                    <!--add review part here-->
                        <h2>Reviews<hr></hr></h2>
                    </div>
                </div>
            </div>
        </div>
        
    


      </div>
      
    

  



<script type="text/ng-template" id="myModalVideo.html">

		
	
			

			<div id="video">
				<button type="button" class="close img_close" ng-click="cancel()" style="font-size:40px;color:white">&times;</button>
        		<div class="wrapper">
         			<img src="http://www.solidbackgrounds.com/images/1280x720/1280x720-ghost-white-solid-color-background.jpg" alt="" id="video_play"/>
         			<div my-youtube code='vidCode'></div>         
       			</div>
        		<div class="content" id="title">
            		<span id="video_name">{{video.videoId.vidname}}</span>
        		</div>
        		
        			<rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" ng-click="ratePost(rate)"></rating> {{rating}} by {{votes}}
        			<br><span ng-show="userRate" style="font-size:10px">You Have not rated yet</span>
        		
    		</div>

    		<div class="stage col-md-9"  id="vid_stuff">
            	<!--<div class="content">
            	<!--Crew and cast--
                	<div id="credits" >
                	<!--credits start--              
                                           
                    </div>
                    
                   
                <!--credits end--

               
                </div>-->

                <div class="col-md-12">
	       			<ul class="nav nav-tabs" style="position:fixed;bottom:0px"> 					    
					   <li><a data-toggle="tab" href="#vid_description">Description</a></li>
					   <li><a data-toggle="tab" href="#vid_credits">Credits</a></li>
					   <li class="active"><a data-toggle="tab" href="#vid_comments">Comments</a></li>
					   <li><a data-toggle="tab" href="#vid_reviews">Reviews</a></li>
				    </ul>
					  

					  <div style="padding:10px 20px">
					  	<div class="tab-content">
						  	<div id="vid_description" class="tab-pane fade">
						       <h3>Description<hr></hr></h3>
						       <p>{{video.videoId.description}}</p>
						    </div>
						    <div id="vid_credits" class="tab-pane fade">
						       <h3>Credits<hr></hr></h3>
						       <table>
						       		<tr ng-repeat="credit in credit">
						       			<td style="width:25%">
						       				
							       				{{credit.credit.creditDetail}}
							       				
						       			</td>
						       			<td>					       				
											
											   
											      <span ng-repeat="creditedUsers in credit.creditedUsers">{{creditedUsers.user.name}}</span>
										</td>				
						       		</tr>
						       </table>
						    </div>
						    
						    <div id="vid_comments" class="tab-pane fade  in active">
						      <div>
		                            <div>
		                                <h4>Leave a Comment:</h4>
		                                <form name="myForm" ng-submit="submitComment()" class="form" novalidate> 
		                                    <div class="form-group">
		                                        <textarea class="form-control" rows="auto" ng-model="commentData"></textarea>
		                                    </div>
		                                    <button type="submit" class="btn btn-primary">Submit</button>
		                                </form>
		                            </div>
		                            <ul id="comments_list">
		                                <li ng-repeat="comment in comments" >
		                                    
		                                    <div class="thumbs_wrap comments">
		                                    	<md-list-item class="md-2-line">
											      <img ng-src="https://wallpaperscraft.com/image/zac_efron_boy_cute_face_smile_long_hair_8755_1600x1200.jpg" class="md-avatar" alt="userPic" />
											        <div class="md-list-item-text">
											          <h3>{{comment.comment.commentPutter}}</h3>
											          <p ng-show="!toggleVal">{{comment.comment.commentData}}</p>
											          <div class="form-group" ng-show="toggleVal">
				                                       	<textarea class="form-control autoExpand" data-min-rows="1" rows="1" ng-model="editData" value="{{comment.comment.commentData}}"></textarea>
				                                       	<span  ng-click="edit(comment.comment._id,editData,$index)" style="font-size:11px">Save</span>
				                                       	<span  ng-click="toggleVal=!toggleVal" style="font-size:11px">Cancel</span>
				                                      </div>
											        </div>
											      </md-list-item>
		                                  
		                                        <span id="comment_time">{{comment.comment.datePosted | date:'medium'}}
		                                        	<span  ng-show="comment.comment.commentPutter===user().name" ng-click="delete(comment.comment._id)"><a href="#">Delete</a></span>
		                                        	<span  ng-show="comment.comment.commentPutter===user().name" ng-click="toggleVal=!toggleVal"><a href="#">Edit</a></span>
		                                        </span>
		                                        
		                                    </div>
		                                </li>
		                            </ul>
		                        </div>
						    </div>
						    
						    <div id="vid_reviews" class="tab-pane fade">
						      <h2>Reviews<hr></hr></h2>
						    </div>
					    </div>
					  </div>
					  <div style="height:200px;width:100%"></div>


				</div>

                
                <!--Best part, comments, review-->
	           
  			</div>
</script>









