

<!-- <div ><img src="assets/images/loginpage3.jpg" width="100%" height="100%"></div> -->
<div id="login">

    <div id="top_logo" > 
        <div id="logo">
            <a href="/" id="_logo"><span><img src="/assets/images/logo3.png" width="120px" alt="Vedik Logo"></span></a>
        </div>  
    </div>
    <div id="hidden"></div> 
    <div id="logob">Because Everyone needs a Stage</div>


    
    
  <div class=" bglg row ">
    <div class="col-md-7 animated fadeInUp " style="height:500px" id="login_wrapper">

        <div id="video_slot"></div>
    </div>
    <div class="container  col-md-5 colorb" id="login_wrapper" >
      <div class="row box_shadow_dwn animated fadeInUp">
        <div class="col-sm-12">
          <h4>Sign In</h4>
        </div>
        
       <!--   <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@test.com</code> / <code>test</code></p>
          <p>Admin account is <code>admin@admin.com</code> / <code>admin</code></p>
        </div>-->
        <div class="col-sm-12">
          <form class="form" name="signIn" ng-submit="login(signIn)" validate>

            
              <div class="form-group">
                <input type="text" class="form-control " ng-model="user.email" autofocus placeholder="Smail" required name="email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control " ng-model="user.password" required placeholder="Password" name="password">
              </div> 

            <div class="form-group has-error">
              <p class="help-block" ng-show="signIn.email.$error.required && signIn.password.$error.required && submitted">
                 Please enter your email and password.
              </p>
              <p class="help-block" ng-show="signIn.email.$error.email && submitted">
                 Please enter a valid email.
              </p>

              <p class="help-block">{{ errors.other }}</p>
            </div>

            <div>
              
              <button class="btn btn-inverse btn-lg btn-login w2g" type="submit">
                Login
              </button>
              <!-- <a class="btn btn-default btn-lg btn-register b2w" href="/signup">
                Register
              </a> -->
            </div>


          </form>
        </div>
      </div>
      <br/>



          

        
      <div class="row box_shadow_dwn animated fadeInUp">
        <div class="col-sm-12">
          <h4>Sign up</h4>
          

        </div>
        <div class="col-sm-12">
          <form class="form" name="signUp" ng-submit="register(signUp)" validate>

            <div class="form-group" ng-class="{ 'has-success': signUp.name.$valid && submittedSignUp,
                                                'has-error': signUp.name.$invalid && submittedSignUp }" >
              <div class="form-group ">
                <input type="text" class="form-control " ng-model="user.firstName" placeholder="Name" required name="name" ng-minlength="3">
              </div>
              <p class="help-block" ng-show="signUp.name.$error.required && submittedSignUp">
                A name is required
              </p>
            </div>
           

            <div class="form-group" ng-class="{ 'has-success': signUp.email.$valid && submittedSignUp,
                                                'has-error': signUp.email.$invalid && submittedSignUp }">
              <div class="form-group">
                <input type="email" class="form-control " ng-model="user.emailNew" placeholder="Smail" required name="email">
              </div>
              <p class="help-block" ng-show="signUp.email.$error.email && submittedSignUp">
                Doesn't look like a valid email.
              </p>
              <p class="help-block" ng-show="signUp.email.$error.required && submittedSignUp">
                What's your email address?
              </p>
              <p class="help-block" ng-show="signUp.email.$error.mongoose">
                {{ errors.email }}
              </p>
            </div>


            

            <div class="form-group" ng-class="{ 'has-success': signUp.password2.$valid && submittedSignUp,
                                                'has-error': signUp.password2.$invalid && submittedSignUp }">
             <div class="form-group">
                <input type="password" class="form-control " ng-model="user.passwordNew"  placeholder="Password" required name="password">
              </div> 
             
   

              
              <p class="help-block"
                 ng-show="(signUp.password2.$error.minlength || signUp.password2.$error.required) && submittedSignUp">
                Password must be at least 3 characters.
              </p>
              <p class="help-block" ng-show="signUp.password2.$error.mongoose">
                {{ errors.password }}
              </p>
            </div>

            <div>
              <button class="btn btn-inverse btn-lg btn-login w2g" type="submit">
                Sign up
              </button>
              <!-- <a class="btn btn-default btn-lg btn-register b2w" href="/login">
                Login
              </a> -->
            </div>

            <hr>
          </form>
        </div>
      </div>
     
    </div>
    
  </div>
  <div ng-include="'components/footer/footer.html'"></div>
</div>
        

        <!-- <div>
          <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
            <i class="fa fa-facebook"></i> Connect with Facebook
          </a>
          <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
            <i class="fa fa-google-plus"></i> Connect with Google+
          </a>
          <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
            <i class="fa fa-twitter"></i> Connect with Twitter
          </a>
        </div> -->
   
