
.btn-facebook {
  color: #fff;
  background-color: #3B5998;
  border-color: #133783;
  margin: 10px;
}

.btn-twitter {
  color: #fff;
  background-color: #2daddc;
  border-color: #0271bf;
  margin: 10px;
}

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border-color: #c53727;
  margin: 10px;
}

.btn-github {
  color: #fff;
  background-color: #fafafa;
  border-color: #ccc;
}

#login  {
  
  background: #e4fde1 ;
  width: 100%;
  color: rgba(0,0,0,0.7);
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
   -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  animation-duration: 3s;
  -vendor-animation-delay: 10s;

  
}
#login_wrapper{
  padding: 20px 50px;
}
#video_slot{
    margin: 20px 10%;
    width: 80%;
    height: 316px;
    box-shadow: 0px 0px 10px grey;
    background-color: rgb(230,230,230);
}
#login #logob{
  padding: 35px 100px 20px ;
  font-size: 25px;
  text-align: center;
  background-color: white;
  color:#337AB7;
  font-family: 'Times New Roman';
  letter-spacing: 0px;
}

#login .row{
  padding: 20px 30px;
  color: #337AB7;
}

#login_logo{
  background-color: #028090;
  width: 100%;
  padding: 50px 100px 0px 0px;
  margin-bottom:-230px;
}
#login_left img{
  position: relative;
  display: block;
  margin:0px auto;
}
#login_logo #animate{
  margin: 0px auto;
}
#login_right{
  padding: 0px 70px 0px 0px;
  font-family: lithosPro,verdana,arial;
}

.bgvd{
  background-color: #028090;
}
.bglgr{
  background: #e4fde1;
}
.colorgr{
  color: #e4fde1 !important;
}


/*png elements*/

#element1{
  position: fixed;
  top: 20px;
  left: 30px;
  width: 130px;
  height: auto;
  z-index: 100;

  -webkit-animation: element 5s  infinite; /* Chrome, Safari, Opera */ 
  animation:element 3s linear infinite;
}
#element2{
  position: fixed;
  top: 15%;
  left: 50%;
  width: 130px;
  height: auto;
  z-index: 100;

  -webkit-animation: element 5s  infinite; /* Chrome, Safari, Opera */ 
  animation:element 3s linear infinite;
}
#element3{
  position: fixed;
  top:0px;
  right: 50px;
  width: 100px;
  height: auto;
  z-index: 100;

  -webkit-animation: element 5s  infinite; /* Chrome, Safari, Opera */ 
  animation:element 3s linear infinite;
}
#element4{
  position: fixed;
  bottom: 60%;
  right: 20px;
  width: 90px;
  height: auto;
  z-index: 100;

  -webkit-animation: elementx 5s  infinite; /* Chrome, Safari, Opera */ 
  animation:elementx 3s linear infinite; 
}
#element5{
  position: fixed;
  top: 50%;
  right: 0px;
  width: 120px;
  height: auto;
  z-index: 100;

  -webkit-animation: elementx 5s  infinite; /* Chrome, Safari, Opera */ 
  animation:elementx 3s linear infinite;
}
#element6{
  position: fixed;
  bottom: 0px;
  right: 40px;
  width: 100px;
  height: auto;
  z-index: 100;

  -webkit-animation: element 5s  infinite; /* Chrome, Safari, Opera */ 
  animation:element 3s linear infinite;
}
#element7{
  position: fixed;
  bottom: 0px;
  right: 20%;
  width: 100px;
  height: auto;
  z-index: 100;

  -webkit-animation: element 5s  infinite; /* Chrome, Safari, Opera */ 
  animation:element 3s linear infinite;
}
#element8{
  position: fixed;
  bottom: 0px;
  right: 40%;
  width: 100px;
  height: auto;
  z-index: 100;

  -webkit-animation: element 5s  infinite; /* Chrome, Safari, Opera */ 
  animation:element 3s linear infinite;
}
#element9{
  position: fixed;
  bottom: 0px;
  right: 60%;
  width: 90px;
  height: auto;
  z-index: 100;

  -webkit-animation: element 5s  infinite; /* Chrome, Safari, Opera */ 
  animation:element 3s linear infinite;
}
#element10{
  position: fixed;
  bottom: 0px;
  left: 17%;
  width: 120px;
  height: auto;
  z-index: 100;

  -webkit-animation: element 5s  infinite; /* Chrome, Safari, Opera */ 
  animation:element 3s linear infinite;
}
#element11{
  position: fixed;
  bottom: 0px;
  left: 30px;
  width: 100px;
  height: auto;
  z-index: 100;

  -webkit-animation: element 5s  infinite; /* Chrome, Safari, Opera */ 
  animation:element 3s linear infinite;
}

/*diagonal translate*/
/* Chrome, Safari, Opera */ 
@-webkit-keyframes element {
    0%   {transform:translate(0px,0px);}
    50%  {transform:translate(5px,10px);}
    100%   {transform:translate(0px,0px);}
}

/* Standard syntax */
@keyframes element {
    0%   {transform:translate(0px,0px);}
    50%  {transform:translate(5px,-10px);}
    100%   {transform:translate(0px,0px);}
    /*75%  {top: 50px}
    100% {top: 100px;}*/
}

/*x axis translate*/
/* Chrome, Safari, Opera */ 
@-webkit-keyframes elementx {
    0%   {transform:translate(0px,0px);}
    50%  {transform:translate(10px,0px);}
    100%   {transform:translate(0px,0px);}
}

/* Standard syntax */
@keyframes elementx {
    0%   {transform:translate(0px,0px);}
    50%  {transform:translate(10px,0px);}
    100%   {transform:translate(0px,0px);}
    /*75%  {top: 50px}
    100% {top: 100px;}*/
}

