<!--***********************Image & Video view Modal********************-->

<div ng-include="'components/modal/modal.html'"></div>
<!--******************************************************************-->

<div ng-controller="CompetitionCtrl" id="for_blur" layout-fill="" layout="column" ng-cloak="">
  <div ng-include="'components/navbar/navbar.html'" ></div>
  <div id="nav_fade">
    <img src="http://www.rottweilerheartsrescue.org/Images/fade2black.png" width="100%" height="400px" style="opacity:1">
  </div>

  <div id="pro_pic" style="background:black;float:left">
    <div>
      <img src="{{event.eventCover}}" width="100%" height="auto" id="gal_pic" opacity="0.8"  >
    </div>
     <script>
      $(document).ready(function(){
          
              $("#gal_pic").css({"clip": 'rect(0px,'+$(window).width()+'px,'+$(window).height()+'px,0px)'});
              $("#pro_pic").css({"height": $(window).height()+'px'});
        });
    </script>
    
    <div class="calign" id="event_det_wrapper">
      <span class="e_name">{{event.name}}</span>
      <hr/>
      <div class="light_text_shadow">
          <a href="/club/{{event.club._id}}"><span class="e_host">{{event.club.name}}</span></a>
          <br><br>
          <span class="glyphicon glyphicon-map-marker">{{event.location}} </span>
          <span class="glyphicon glyphicon-time"> {{startDate}}<span ng-show="endDate">-{{endDate}}</span></span><br><br>
          
      </div>
    </div>
    <span id="event_menu">
        <p>About</p>
        <p data-toggle="modal" data-target="#broadcast" onclick="document.getElementById('for_blur').style.filter = 'blur(10px)'">Broadcast</p>
        <p>FAQ</p>
        <div class="col-md-12">
            <md-button class=" md-primary lh15" ng-click="addAttend()"  ng-hide="attending" style="margin:0px 0px 5px;border-radius:0px">Register Now <span class="glyphicon glyphicon-plus"> </span><br/><span style="font-size:9px">Submit Entry Later</span> </md-button><br/>
            <md-button class=" md-primary" ng-click="addAttend()"  ng-hide="attending" style="margin:0px 0px 5px;border-radius:0px">Register and Submit Now <span class="glyphicon glyphicon-plus"> </span></md-button>
            <md-button  ng-click="unAttend()"  ng-show="attending" style="margin:0px 0px 5px"><span ng-show="!event.regReq">You are going</span><span ng-show="event.regReq">Registed</span></md-button>
            <br><div style="font-size:10px;text-align:center">{{attendingNum}} Entries</div>
            <div class="sizeten colorg" ng-show="event.regReq">*Registration Required</div>
        </div>
        
            
    </span>
  </div>
  
  <div class='posts_wrapper'>
    <nav class="navbar navbar-default" id="navbar_mdl">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Updates</a>
        </div>
      </div>
    </nav>
    <script type="text/javascript">
      $(document).ready(function() {

        $(window).scroll(function () {
            //if you hard code, then use console
            //.log to determine when you want the 
            //nav bar to stick. 
            var trueHeight=$(window).outerHeight();
                    var height;
                    if(trueHeight>500)
                      height=trueHeight;
                    else 
                      height=500;
            console.log($(window).scrollTop())
          if ($(window).scrollTop() > (height-45)) {
            $('#navbar_mdl').addClass('navbar_sec_fixed');
          }
          if ($(window).scrollTop() < (height-44)) {
            $('#navbar_mdl').removeClass('navbar_sec_fixed');
          }
        });
      });
    </script>

    <div class="col-md-6" id="posts">
      <content-item ng-repeat="item in posts | orderBy:'-createdOn'" content="item" index="$index"></content-item>

      <!-- <div class="awarding_div">

        <div id="border">
            <div id="certif_icon"><img src="assets/images/gold.png"></div>
            <span><a>Venkat</a></span> was awarded <span><a>first</a></span> in <span><a>Manual Robotics</a></span> organised by <span><a>Shaastra 2015</a></span>
        </div>
        <div id="post_time">
            <div id="respond_post">
                <a href="#"><img src="http://cadijordan.com/wp-content/uploads/2013/11/like3.png" width="10px" height="auto"> Like</a>
                <a href="#"><img src="http://cadijordan.com/wp-content/uploads/2013/11/like3.png"  width="10px" height="auto"> Comment</a>
                <span>12:30 pm 8th August   </span>
            </div>
                             
        </div>
      </div>
      <div class="awarding_div">

        <div id="border">
            <div id="certif_icon"><img src="assets/images/silver.png"></div>
            <span><a>Venkat</a></span> was awarded <span><a>first</a></span> in <span><a>Manual Robotics</a></span> organised by <span><a>Shaastra 2015</a></span>
        </div>
        <div id="post_time">
            <div id="respond_post">
                <a href="#"><img src="http://cadijordan.com/wp-content/uploads/2013/11/like3.png" width="10px" height="auto"> Like</a>
                <a href="#"><img src="http://cadijordan.com/wp-content/uploads/2013/11/like3.png"  width="10px" height="auto"> Comment</a>
                <span>12:30 pm 8th August   </span>
            </div>
                             
        </div>
      </div>
      <div class="awarding_div">

        <div id="border">
            <div id="certif_icon"><img src="assets/images/bronze.png"></div>
            <span><a>Venkat</a></span> was awarded <span><a>first</a></span> in <span><a>Manual Robotics</a></span> organised by <span><a>Shaastra 2015</a></span>
        </div>
        <div id="post_time">
            <div id="respond_post">
                <a href="#"><img src="http://cadijordan.com/wp-content/uploads/2013/11/like3.png" width="10px" height="auto"> Like</a>
                <a href="#"><img src="http://cadijordan.com/wp-content/uploads/2013/11/like3.png"  width="10px" height="auto"> Comment</a>
                <span>12:30 pm 8th August   </span>
            </div>
                             
        </div>
      </div> -->


             
              
              

    </div>
    <div class="col-md-6" style="padding:10px 20px 10px 10px  ">
        <div class="thumbs_wrap col-md-12"  style="border:2px solid white;padding:10px;">
            <h4 style="color:white">Annouce<hr></h4>
            <div >
              <ul class="nav nav-tabs" style="width:40%;">
                <li  class="active"><a href="#Carticle_up" data-toggle="tab" style="padding:0px"><span class="glyphicon glyphicon-open" style="padding:6px 5px"></span> Post</a></li>               
                <li ><a href="#Cimage_up" data-toggle="tab" style="padding:0px"><span class="glyphicon glyphicon-open" style="padding:6px 5px"></span> Image</a></li>
                <li ><a href="#Cvideo_up" data-toggle="tab" style="padding:0px"><span class="glyphicon glyphicon-open" style="padding:6px 5px" ></span> Video</a></li>
              </ul>
              <form name="form"  ng-model="form">
                  <div class="tab-content">
                      <div class="tab-pane fade in active" id="upload_form2">
                    
                        <div class="col-md-12">
                          <div class="form-group">
                        <input type="text" class="form-control upld_form" ng-model="form.name" placeholder="Name">
                      </div>
                      <div class="form-group">
                        <textarea class='autoExpand form-control' rows='3' data-min-rows='3' placeholder='Description' id="textarea" style="width:100%" ng-model="form.description" data-bind="hasfocus: true">
                          </textarea>                         
                                    
                      
                                            
                      
                      
                        </div>
                        
                      
                          
                          <div class="tab-content">
                            <div id="Carticle_up" class="tab-pane fade in active">
                                <button type="submit" class="b2w" ng-click="postSubmit()">Submit</button>
                            </div>
                        <div id="Cimage_up" class="tab-pane fade">
                            <div class="form-group">  
                              <input type="text" class="form-control upld_form" ng-model="form.picUrl" placeholder="Image Url">
                            </div>
                            <img src="{{form.picUrl}}" width="100%" height="auto">
                            <button type="submit" class="b2w" ng-click="imageSubmit()">Submit</button>
                        </div>
                        <div id="Cvideo_up" class="tab-pane fade">
                            <div class="form-group">
                                        
                              <input type="text" class="form-control upld_form" ng-model="form.vidUrl" placeholder="Youtube link to video">
                            </div>
                            <div class="form-group">              
                              <input type="text" class="form-control upld_form" ng-model="form.posterUrl" placeholder="Poster Url">
                            </div>
                            <img src="{{form.posterUrl}}" width="100%" height="auto">
                            <button type="submit" class="b2w" ng-click="videoSubmit()">Submit</button>
                        </div>
                      </div>
                      
                        
                          
                        </div>

                    </div>
                  <!-- <div id="credits2" class="tab-pane fade" style="background:white">
                        
                    <table>
                        <tr>
                          <th>Credit</th>
                          <th>User</th>
                        </tr>                                 
                        <tr ng-repeat="credit in creditType track by $index">
                          <td style="width:50%;verticle-align:top">
                            <div  layout="column" ng-cloak>

                            <md-content class="md-padding">
                              <form ng-submit="$event.preventDefault()" name="searchForm">
                               
                                <div layout-gt-sm="row">
                                  
                                  <md-autocomplete flex required
                                      md-input-name="autocompleteField"
                                      md-input-minlength="2"
                                      md-input-maxlength="18"
                                      md-no-cache="false"
                                      md-selected-item="creditType[$index]"
                                      md-search-text="searchText"
                                      md-items="item in querySearch(searchText,$index)"
                                      md-item-text="item.creditDetail"
                                      md-floating-label="Credit"
                                     
                                      md-menu-class="autoCompleteDropDown"
                                     >
                                    <md-item-template>
                                      <span md-highlight-text="searchText">{{item.creditDetail}}</span>
                                    </md-item-template>
                                    <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                                      <div ng-message="required">You <b>must</b> have a favorite state.</div>
                                      <div ng-message="minlength">Your entry is not long enough.</div>
                                      <div ng-message="maxlength">Your entry is too long.</div>
                                    </div>

                                  </md-autocomplete>
                                </div>
                                 </form>

                            </md-content>
                          </div>
                                            
                        </td>
                        <td style="width:50%;vertical-align: bottom;">
                          <tags-input ng-model="creditUser[$index]" display-property="name" add-from-autocomplete-only="true"  class="bootstrap" >
                            <auto-complete source="getSuggestionsForNames($query)" min-length='1'>
                                </auto-complete>
                            </tags-input>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding:10px 0px">
                          <button type="button" class="b2w" ng-click="addCredit()">Add Credit</button>
                        </td>
                        <td style="padding:10px 0px"><a data-toggle="tab" href="#upload_form2" class="b2w">Back</a><span ng-click="test()">sdafd</span>
                        </td>
                      </tr>                             
                    </table>  
                    <div>
                                      
                      <button type="submit" class="b2w">Submit</button>
                        </div>

                                    
                    </div> -->
                  </div>
                </form>
            </div>

        </div>
        <br/><br/>
        <div class="col-md-12 box_shadow_dwn ">
            <md-subheader class="md-no-sticky">People Attending</md-subheader>
              <md-list-item ng-repeat="person in event.attending" >
                <img alt="{{ person.user.name }}" ng-src="{{ person.user.proPic }}" class="md-avatar" />
                <p>{{ person.user.name }}</p>
                <md-icon md-svg-icon="communication:messenger" ng-click="doSecondaryAction($event)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}"></md-icon>
              </md-list-item>
        </div>

    </div>
  </div>
</div>
                    
                