*   {
    box-sizing:border-box;
}
body {
            ;
            position:relative;
            min-height:100%;
            top:0px;
            margin:0px;
            font-family:"verdane";
            background-color: 3b3a35;
            }
#top_logo {
            background-color:rgba(255,255,255,0);
            height:60px;
            width:100%;
            background-size:10px 100%;
            box-sizing:border-box;
            box-shaddow:0px 5px 10px BLACK;
            position:fixed;
            top:0px;
            z-index: 1;
        }
        #hidden {
            height:60px;
        }
        #logo {
            font-size:30px;
            color:white;
            font-family:'Gill Sans MT';
            float:right;
            display:inline;
            padding:7.5px 30px;
        }
        #search {
            float:right;
            padding:14.5px 50px;
            position: relative;
            top:3px;
            
        }
        #search input   {
            background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 7px 5px;
            background-repeat: no-repeat;
            padding: 4px 10px 4px 25px;
        }
        #search_res {
            background: rgba(255,255,255,0.8);
        }
        #search_res:hover   {
            background: #F7EDFF;
        }
        #indiv_res  {
            border:;
            margin:2px 0px; 
            padding:5px 10px;
        }
        #nav    {
            background-color:#ffffff;
            font-size:15px;
            float:left;
            padding:0px 30px;
            top:4px;
            position: relative;
        }
        ul.drop_nav {
            list-style-type:none;
            margin:0px;
            padding:2px;
            background-color:;
        }
        span.nav  {
            float:right;
            padding:15px 10px;
        }
        span:hover.nav  {
            background-color:white;
        }
        a:link    {
            text-decoration:none;
        }
        a:hover   {
            padding:15.5px 0px;
        }
        a:visited#_logo    {
                color:white;
        }
        a:visited#nav   {
            color:black;
        }
        .stage {
            box-sizing:border-box;
            box-shadow:0px 5px 10px BLACK;
            height:auto;
            margin:0px auto;
            width:1000px;

        }
.drop-nav {
  position: absolute;
  display: none;
}
li#nav_li  {
padding:6px 20px;
    background-color:#00001f;
    }
a:link.dark, a:visited.dark   {
    color:white;
    font-size:14px;
}
a:hover.dark, a:active.dark   {
    color:black;
    font-size:14px;
}
li:hover#nav_li, li:active#nav_li{
    background-color:#ffde00;
    color:black;
}
.form-control   {
    width:400px;
    height:25px;
    padding:4px 10px;
}