<div id="nav_fade">
  <img src="http://www.rottweilerheartsrescue.org/Images/fade2black.png" width="100%" height="200px">
</div>
<div id="top_logo" ng-controller="NavbarCtrl">
    <div id="logo">
        <a href="/" id="_logo"><span>Vedik</span></a>
    </div>
    
    <div id="search">
        <span class=" glyphicon glyphicon-search" style="position:absolute;top:16px;left:55px"></span>
        <input type="text" class="form-control" ng-model="searchQuery" ng-change="change()">
        <div id="search_res">
            <div ng-show="searchStage" id="search_res">{{vedik}}</div>
             <div ng-show="searchQuery" ng-repeat="obj in objsStage" id="search_res">
              <div id="indiv_res">
                  <a href="/stage/{{obj._id}}" >{{obj.name}}</a>
              </div>
            </div>
            <div ng-show="searchUser" id="search_res">{{userList}}</div>
            <div ng-show="searchQuery" ng-repeat="obj in objs" id="search_res">
              <div id="indiv_res">
                  <a href="/profile/{{obj._id}}" >{{obj.name}}</a>
              </div>
            </div>
              <div ng-show="searchClub" id="search_res">{{club}}</div>
             <div ng-show="searchQuery" ng-repeat="obj in objsClub" id="search_res">
              <div id="indiv_res">
                  <a href="/club/{{obj._id}}" >{{obj.name}}</a>
              </div>
            </div>
             <div ng-show="noResult" id="search_res">
                <div id="indiv_res">
                    No result Found
                </div>
            </div>
        </div>
    </div>
    <div id="nav">
       
        <div class="dropdown" ng-if="isLoggedIn()">
            <span class="dropdown-toggle" id="menu1">
                <span id="caretid">
                    <span class=" glyphicon glyphicon-th-large" ></span>
                </span>
            </span>
            <a href="/profile/{{getCurrentUser()._id}}" id="_logo" ng-show="isLoggedIn()">{{getCurrentUser().name}}</a>
            <a href="/login" id="_logo" ng-hide="isLoggedIn()">Guest</a>       
            
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                     <div id="indiv_res" ng-show="isLoggedIn()"><a role="menuitem" tabindex="-1" href="#"  ><li role="presentation">Settings</li></a></div>
                                     <div id="indiv_res" ng-show="isLoggedIn()"><a role="menuitem" tabindex="-1" href="#" ng-click="logout()" ><li role="presentation">Sign out</li></a></div>
                                     <div id="indiv_res"  ng-hide="isLoggedIn()"><a role="menuitem" tabindex="-1" href="/login" ><li role="presentation">Login</li></a></div>
                                     <div id="indiv_res" ng-hide="isLoggedIn()" ><a role="menuitem" tabindex="-1" href="/signup" ><li role="presentation">Signup</li></a></div>
                                </ul>
         </div>
    </div>

         <div class="container">                                         
              <div style="position:relative;width:300px;margin:0px 20px">
                <button class="btn btn-primary" type="button" style="margin:6.5px 0px;background:none;border:0px"  ng-click="showNotif=!showNotif">
                  <span class="glyphicon glyphicon-envelope" ><span style="font-size:10px;padding:2px">{{posts.length}}</span></span>
                </button>
                <div  id="notifDropDown" class="thumbs_wrap " ng-show="showNotif">
                    
                        <ul class="nav nav-pills nav-stacked" id="notifMenu" >
                            <a data-toggle="tab" href="#allNotifs" ><li class="active w2b"><b>All</b></li></a>
                            <li style="padding:4px 0px 4px 0px"><b>Friends</b>
                              <ul style="padding:0px">
                                <a data-toggle="tab" href="#{{dummyId[$index]}}" ng-repeat="friend in dummyName"><li style="padding:3px 0px 3px 10px" class="w2b">{{friend}}</li></a>
                              </ul>
                            </li>
                            <li style="padding:0px 0px 4px 0px"><b>Clubs</b>
                              <ul style="padding:0px"> 
                                <a data-toggle="tab" href="#{{clubId[$index]}}" ng-repeat="friend in clubName"><li style="padding:3px 0px 3px 10px" class="w2b">{{friend}}</li></a>
                              </ul>
                            </li>
                        </ul>
                    
                    
                    <div class="tab-content" id="notifs">
                            <div id="allNotifs" class="tab-pane fade in active" ng-click="showNotif=false">
                                <content-notif ng-repeat="item in posts | orderBy:'-createdOn'" content="item" ng-style="for_blur" >    
                                </content-notif style="padding:2px 0px">
                            </div>
                            <span ng-repeat="friendId in dummyId" id="{{friendId}}" class="tab-pane fade">
                               <content-notif ng-repeat="notif in posts | orderBy:'-createdOn'" content="notif" ng-style="for_blur" ng-if="(friendId==notif.uploader.user._id) && (notif.type<14)">    
                                </content-notif>
                               
                            </span>
                            <span ng-repeat="friendId in clubId" id="{{friendId}}" class="tab-pane fade">
                               <content-notif ng-repeat="notif in posts | orderBy:'-createdOn'" content="notif" ng-style="for_blur" ng-if="(friendId==notif.uploaderClub._id) && (notif.type>14)">    
                                </content-notif>
                               
                            </span>
                        </div>
                    </div>
                </div>
              </div>
          </div>


   
</div>
    
    