<div id="top_logo" ng-controller="NavbarCtrl">
    <div id="logo">
        <a href="/" id="_logo"><span>Vedik</span></a>
    </div>
    <div id="search">
        <input type="text" class="form-control" ng-model="searchQuery" ng-change="change()">
          <div ng-show="searchQuery" ng-repeat="obj in objs" id="search_res">
            <div id="indiv_res">
                <a href="/profile/{{obj.name}}" >{{obj.name}}</a>
            </div>
          </div>
    </div>
    <div id="nav">
      <div class="dropdown">
            <a href="/profile" id="_logo">{{getCurrentUser.name}}Guest</a>         
            <span class="dropdown-toggle" id="log_details" >
            <span id="caretid">
                <span class="caret" ></span></span>
            </span>
            <ul class="dropdown-menu" role="menu" aria-labelledby="log_details">
                                     <div id="indiv_res"><a role="menuitem" tabindex="-1" href="#" ><li role="presentation">Settings</li></a></div>
                                     <div id="indiv_res"><a role="menuitem" tabindex="-1" href="#" ><li role="presentation">Sign out</li></a></div>
                                </ul>
         </div>

                </div>

    </div>
    
    