
<!--***********************Image & Video view Modal********************-->

<div ng-include="'components/modal/modal.html'"></div>
<!--******************************************************************-->

<div ng-controller="DashboardCtrl" id="for_blur" >
<div ng-include="'components/navbar/navbar.html'"></div>
	

<div class="thumbs_wrap" id="dashboard" >
	
	<div id="hidden" ng-style="hidden"></div>

	
	<!--stage at the bottom-->

<!--	<div class="stage_btm_1"></div>
	<div class="stage_btm_2"></div>
	<div class="stage_btm_frnt"></div>-->

	<!--This space is to put the stages or something else
	
		<div id="unknown" ng-click="val=!val" ng-show="val" >
		<span class="centric">
			IITM
		</span>
		</div>-->

		<!-- <ul class="nav nav-tabs" style="margin:30px 30% 10px;text-align:center">
		  <li class="active" style="width:50%;"><a data-toggle="tab" href="#booked_display">Home</a></li>
		  <li style="width:50%"><a data-toggle="tab" href="#stage">All</a></li>
		</ul> -->
		



		<div class="col-md-12" id="tagline_box">
			<p>Because Everyone needs<br>a Stage</p>
		</div>
		<div class="col-md-12 bglg"> 
			
			<div class="col-md-9"  >
				
					<div  id="vedikites_title" >

						<span class="floatL" style="font-size:20px">IIT Madras' Vedik</span>
						<ul class="nav nav-tabs floatL">
						    <li class="btnbg rlmargin"><a data-toggle="tab" href="#booked_display">On Stage</a></li>
						    <li class="btnbg rlmargin"><a data-toggle="tab" href="#stage">Latest</a></li>
						    
						</ul>
						<br/>		
						<hr/>
						  
					</div>
				
			</div>
			<!-- <div  class="col-md-3" ng-click="todaysVedik=false"><a data-toggle="tab" href="#stage"><div  id="latest_tab">IITM Latest</div></a></div> -->
		</div>
		<script>
			
		</script>

		
		

		<div class="tab-content col-md-12 bglg">
			<div id="booked_display" class="tab-pane fade in active" style="min-height:100%;padding:20px 0px">
				
				<div>
					<div class="col-md-1"></div>					
					<div ng-controller="UploadPortalCtrl"  ng-class="for_blur" class="col-md-4" style="padding:0px 20px 30px 0px;border-right:2px solid #fff">
						<div style="">
						<content-item ng-repeat="item in bookings | orderBy:'-createdOn'" content="item" random="false" ng-style="for_blur" ng-if="$even" index="$index">
							
						</content-item>
						</div>
					</div>
					<div ng-controller="UploadPortalCtrl"  ng-class="for_blur" class="col-md-4"style="padding:0px 0px 30px 20px ">
						<content-item ng-repeat="item in bookings| orderBy:'-createdOn'" content="item" random="false" ng-style="for_blur" ng-if="$odd" index="$index">
							
						</content-item>
					</div>	
					<div class="col-md-3" style="padding:0px 20px;" >
						<div  style="height:300px;margin:20px 0px;box-shadow: 1px 1px 2px grey;background-color:rgba(255,255,255,1)">
							<p class="list_heading"><img src="http://www.clker.com/cliparts/R/d/z/v/H/1/neon-green-dot-md.png" width="10px" height="auto"> Today's Events</p>
							<a href="/club/{{clubsList._id}}" ng-repeat="clubsList in clubsList">
								<button type="button" class="btn btn-info btn-lg w2b col-md-12" style="font-size:12px;margin:0px 0px;padding:4px 10px;text-align:left">{{clubsList.name}}</button>
							</a>
							<p class="list_heading"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Location_dot_grey.svg/2000px-Location_dot_grey.svg.png" width="10px" height="auto"> Upcoming Events</p>
						</div>
					</div>
				</div>
			</div>
		
	<!--This div for displaying the stage-holders that day( the videos booked for that day)  -->
			<div id="stage" class="tab-pane fade">
				<!-- <div class="col-md-12"> 
					<div class="col-md-9"  ng-click="todaysVedik=true">
						<a data-toggle="tab" href="#stage">
							<div  id="vedikites_title" >			
								<img src="http://txt-dynamic.static.1001fonts.net/txt/dHRmLjcyLmZmZmZmZi5UbVYzSUc5dUlGWmxaR2xyLjA,/a-gentle-touch.medium.png" class="active">
								<hr/>
							</div>
						</a>
					</div>
					<div  class="col-md-3" ng-click="todaysVedik=false"><a data-toggle="tab" href="#booked_display"><div  id="latest_tab">Today's Vedik</div></a></div>
				</div> -->
				<div class="col-md-2" id="clubs_list">
					<div id="clubs_list_wrap" class="box_shadow_dwn">
						<div class="list_heading col-md-12">Clubs</div>
						<a href="/club/{{clubsList._id}}" ng-repeat="clubsList in clubsList">
							<button type="button" class="btn btn-info btn-lg w2g col-md-12 alignL" >{{clubsList.name}}</button>
						</a>
					</div>
				</div>
				<div id="main_stage" class="col-md-8">
								
         			<div ng-controller="UploadPortalCtrl"  ng-class="for_blur" class="col-md-6">
						<content-item ng-repeat="item in posts | orderBy:'-createdOn'" content="item" random="false" ng-style="for_blur" ng-if="$even" index="$index">
							
						</content-item>
					</div>
					<div ng-controller="UploadPortalCtrl"  ng-class="for_blur" class="col-md-6">
						<content-item ng-repeat="item in posts | orderBy:'-createdOn'" content="item" random="false" ng-style="for_blur" ng-if="$odd" index="$index">
							
						</content-item>
					</div>										
						
							
				</div>					
				<!-- <div class="col-md-2" id="groups_list">
					<div id="clubs_list_wrap"><h3>Groups showup if you logged in</h3></div>
				</div> -->

	<!--This div for displaying the genres,, u click on one of these, the data in the above div changes accordingly and populates the videos to be displayed that day in that genre   -->
			<!--<div class="col-md-" id="genres">
				<ul>
					<li ng-repeat="genre in genres">
						<a href="#">{{genre}}</a>
					</li>
				</ul>
			</div>-->
			</div>
			
		</div>
		<div class="col-md-12" style="background:grey;height:200px">
				About<br/>
				Team
		</div>

		

	</div>
	</div>
	<!-- to be ignored ;) to be implemented later
	<p>{{user.updatedOn | date:'medium'}}</p>
	<p>{{user.createdOn | date:'medium'}}</p>
	testing -->

	<!--To be put:: The recent videos uploaded and trending videos divs-->
</div>
	
