            *, *:before, *:after{ 
                box-sizing: border-box; 
                -moz-box-sizing: border-box; 
                -webkit-box-sizing: border-box;
                word-wrap:break-word; 
                font-family:            }   
            /*.stage_btm_1 { 
                position: fixed;
                bottom: 50px; 
                height: 0px; 
                width: 100%; 
                border-bottom: 150px solid;
                border-bottom-color: rgba(88,80,74,0.9); 
                border-left: 150px solid transparent; 
                border-right: 150px solid transparent; 
            }
            .stage_btm_2 { 
                position: fixed;
                bottom: 50px; 
                height: 0px; 
                width: 100%; 
                border-bottom: 50px solid;
                border-bottom-color: rgba(0,0,0,1); 
                border-left: 50px solid transparent; 
                border-right: 50px solid transparent; 
                z-index: 1;
            } 
            .stage_btm_frnt { 
                position: fixed;
                bottom: 0px; 
                height: 0px; 
                width: 100%;                 
                border-bottom: 50px solid;
                border-color:  #cdc0b3;
            
               /* border-left: 40px solid transparent; 
                border-right: 40px solid transparent; */
                z-index: 1;
            }*/
            #unknown    {
            background-color:rgba(0,0,0,0.3);
            height:65px;
            text-align:center;
            vertical-align: middle;
            font-size: 25px;
            color: black    ;
            padding: 10px;

        }
        #dashboard {
            
            margin: 0px;
            width: 100%;
            overflow-x:hidden;
            /*background-color: white;*/
            background:rgb( 221, 221, 221 );          
           padding: 0px;
           background-repeat: repeat;   
    }
        #dashboard_wrap {
            background-color: rgba(0,0,0,0);         

        }
        #tagline_box{
            height: 150px;
            background-color: white;
            color: grey;
            font-family: "Times new roman";
            padding: 40px 9.5%;
            font-size: 30px;
            line-height: 40px;
        }
        .btnbg a {
            padding: 5px 15px !important;
            border-radius: 15px !important;
            background-color: white !important;
            border:none !important;
        }
        .btnbdr  {
            padding: 5px 15px !important;
            border-radius: 15px !important;
            background-color: none !important;
            
            border: 1px solid blue;
        }
        .rlmargin{ 
            margin: 0px 20px;
        }
        .floatL{
            float: left;
        }

        #clubs_list {
            padding: 10px;
            


        }

        #groups_list    {
            padding: 10px;
        
            right: 0px;
        }
        #clubs_list_wrap    {
            background-color: rgba(230,230,230,0.1);
            box-shadow: 1px 2px 2px grey;
            border:1px solid;
            border-color: rgba(230,230,230,0.15);
            float: left;
            height: auto;
            margin: 5px 0px;
            padding: 0px 0px;
            width: 100%;
         
            text-align: center;
        }
        #main_stage  {
            
            height:auto;
            box-sizing:border-box;
            margin:0px auto;
            padding:10px 10px;
            overflow:visible;
            word-wrap: break-word;
            float: left;
        }
        #genres{
            background-color:#333;
            box-sizing:border-box;
            box-shadow:0px 5px 10px BLACK;
            height:500px;
            float:left;
            margin:0% 2%;
        }
        .thumbs {
                box-sizing:border-box;
            /*    margin:10px 0px;
                float: left;
                padding:5px;   */             
                position:relative;
                          
                
        }
        .thumb_trnsprnt {
            margin: 0px;
            padding:0px;
            box-sizing:content-box;
            width:100%;
            height: 100%;
            background-color:black;
            position: absolute;
            opacity:0.3;
            display:none;
            top:0px;
            left:0px;
            transition: all 0.3s ease 0s;

        }
        .thumb_cntnt    {
            display:none;
            color:white;
            width:100%;
            height:100%;            
            position: absolute;
            top:0px;
            left:0px;
            padding:20% 10%;
            word-wrap:break-word;
            overflow: hidden;
        }

        .thumbs_in:hover #user_art_info , .thumbs_in:hover .thumb_trnsprnt {
            display:block;
        }
        #thumbs_in_dshbrd:hover .thumb_cntnt , #thumbs_in_dshbrd:hover .thumb_trnsprnt {
            display:block;
        }
        
        
        #dashbrd_cntnt  {
            text-align: center;
            height: 600px;
            margin:10px auto;
            float: left;
            padding:5px; 
            width: 100%;
            overflow-y:scroll;




        }  

        .container-inner {
            height:1000px;
             
        }

        
        #thumbs_out_dshbrd {
           margin:0px 0px;
           float: left;
            padding:15px;
           
        }  
        
        #thumbs_in_dshbrd  {

            position: relative;
            text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
            overflow: hidden;
            width: 100%;
            height:100%;
            /*border:5px solid white;
            border-radius: 4px;
            margin:0px 0px;*/

            
        }
        #user_art_pic   {


        }
                #a  {
            padding:10px;
        }
        #col-mxxd-3 {
            height: 120px;
        }   
       
  
        
        #vedikites_title{
            

            background-color: none;
            position: relative;
            float: left;
            height: 60px;
            margin: 0px 0px 40px 0px;
            padding: 20px 40px 0px 10px;
            width: 100%;
        }
        #latest_tab{
             padding: 70px 30px;   
             float: left;
             height: 200px;
             font-size: 30px;
             color: white; 
             width: 100%;           
             background-color: rgba(255,255,255,0.2); 
        }
        #latest_tab a{
            
           
            
        }
        .hide_scroll{
            max-height:400px;
            background-color: white;
            overflow:hidden;
        }
        .hide_scroll > div{
                width: 110%;
                overflow-y: scroll;
                max-height: 400px;
        }



.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}





    