<div ng-controller="DashboardCtrl" id="for_blur">
<div ng-include="'components/navbar/navbar.html'"></div>
	<div id="hidden"></div>

<div class="thumbs_wrap" id="dashboard">

	
	<!--stage at the bottom-->

<!--	<div class="stage_btm_1"></div>
	<div class="stage_btm_2"></div>
	<div class="stage_btm_frnt"></div>-->

	<!--This space is to put the stages or something else
	
		<div id="unknown" ng-click="val=!val" ng-show="val" >
		<span class="centric">
			IITM
		</span>
		</div>-->
		
	<!--This div for displaying the stage-holders that day( the videos booked for that day)  -->
		<div id="stage">
				<div class="col-md-2" id="clubs_list">
					<div id="clubs_list_wrap">Clubs</div>
				</div>
				<div id="main_stage" class="col-md-8">
								
			             													
									
										<div class="" ="img_div thumbs_wrap"  data-toggle="modal" data-target="#img_view" onclick="document.getElementById('for_blur').style.filter = 'blur(5px	)'">
									<div class="img_div_wrap thumbs_wrap thumbs_in col-md-6">
										<img src="http://www.mohitshrivastava.com/Mohit-Shrivastava-Photos/var/albums/Facebook/AwesomePhotography.jpg?m=1347505797" id="img_post">
										<span><img src="http://www.rottweilerheartsrescue.org/Images/fade2black.png" height="50px" width="410px" style="opacity:0.5;"></span>
										<span id="img_name">Spinning Ball</span>
										<span><img src="http://clipartsy.com/openclipart.org/2013/October13/play_button-1969px.png" id="play">	</span>

										
													<span class="thumb_trnsprnt">
													</span>
													<span id="user_art_info">
														<div id="a">
														<span id="vid_data">{{video.video.vidname}}</span>
													<!--	<div id="vid_data">{{video.video.description}}</div>-->
														<span style="bottom:20px;left:10px;position:absolute">Views : {{video.video.view_count}}</span>
														</div>
													</span>		
									</div>
								</div>
											
									
								
									<br>	
								<div id="img_div thumbs_wrap ">
									<div class="img_div_wrap thumbs_wrap thumbs_in col-md-6">
										<img src="Pro_pic/tamanna.jpg" id="img_post">
										<span><img src="http://www.rottweilerheartsrescue.org/Images/fade2black.png" height="20px" width="410px" style="opacity:0.5;"></span>
										<span id="img_name">Gorgeous Tamanna</span>

										
													<span class="thumb_trnsprnt">
													</span>
													<span id="user_art_info">
														<div id="a">
														<span id="vid_data">{{video.video.vidname}}</span>
													<!--	<div id="vid_data">{{video.video.description}}</div>-->
														<span style="bottom:20px;left:10px;position:absolute">Views : {{video.video.view_count}}</span>
														</div>
													</span>		
									</div>
								</div>
								<div class="" ="img_div thumbs_wrap"  data-toggle="modal" data-target="#img_view" onclick="document.getElementById('for_blur').style.filter = 'blur(40px)'">
									<div class="img_div_wrap thumbs_wrap thumbs_in col-md-6">
										<img src="http://www.mohitshrivastava.com/Mohit-Shrivastava-Photos/var/albums/Facebook/AwesomePhotography.jpg?m=1347505797" id="img_post">
										<span><img src="http://www.rottweilerheartsrescue.org/Images/fade2black.png" height="50px" width="410px" style="opacity:0.5;"></span>
										<span id="img_name">Spinning Ball		</span>

										
													<span class="thumb_trnsprnt">
													</span>
													<span id="user_art_info">
														<div id="a">
														<span id="vid_data">{{video.video.vidname}}</span>
													<!--	<div id="vid_data">{{video.video.description}}</div>-->
														<span style="bottom:20px;left:10px;position:absolute">Views : {{video.video.view_count}}</span>
														</div>
													</span>		
									</div>
								</div>					
				<div class="col-md-2" id="groups_list">
					<div id="clubs_list_wrap">Groups showup if you logged in</div>
				</div>

	<!--This div for displaying the genres,, u click on one of these, the data in the above div changes accordingly and populates the videos to be displayed that day in that genre   -->
			<!--<div class="col-md-" id="genres">
				<ul>
					<li ng-repeat="genre in genres">
						<a href="#">{{genre}}</a>
					</li>
				</ul>
			</div>-->
		</div>
	</div>
	<!-- to be ignored ;) to be implemented later
	<p>{{user.updatedOn | date:'medium'}}</p>
	<p>{{user.createdOn | date:'medium'}}</p>
	testing -->

	<!--To be put:: The recent videos uploaded and trending videos divs-->
</div>
</div>


<!-- Modal -->
<div id="img_view" class="img_modal modal fade" role="dialog">
<div class="centric ">
  <div class="modal-dialog img_modal-dialog">

    <!-- Modal content-->
   
     
        
       
   
      <div class="modal-body img_modal-body">
      	<button type="button" class="close img_close" data-dismiss="modal" onclick="document.getElementById('for_blur').style.filter = 'blur(0px)'">&times;</button>
        <img src="http://wowslider.com/sliders/demo-19/data1/images/sunset.jpg"	>
      </div>
      
    

  </div>
</div>
</div>