<div ng-controller="DashboardCtrl">
	<div ng-include="'components/navbar/navbar.html'"></div>

<!--	<header class="hero-unit" id="banner">
 		<div class="container">
    		<h1>Hello {{user.name}}</h1>
    		<p class="lead">A place to show your talent</p>
    		<img src="assets/images/yeoman.png" alt="I'm Yeoman">
  		</div>
	</header>
	<div class="col-md-12">
		<button class="btn btn-primary" ng-click="toUploadPortal()">Upload Here</button>
	</div> -->
<!--This space is to put the stages or something else-->
	<div class="stagee">
		<div id="unknown">
		<span style="text-align:center;font-size:20px;margin:0% auto;">Stages</span>
		</div>
	<!--This div for displaying the stage-holders that day( the videos booked for that day)  -->
		<div id="stage">
				<div id="main_stage" class="col-mdd-12">
			            <div id="dashbrd_cntnt">
			            	
							<span ng-repeat="video in user.videos" class="thumbs">
								<div class="thumbs_out">
									<div class="thumbs_in">
										<a href="#" ng-click="watchVid(video.video.vidurl)">
											<img src="{{video.video.posterurl}}" height="auto" style="z-index:-1" id="image" width=250px class="img-thumbnail">
											<span class="thumb_trnsprnt">
											</span>
											<span  class="thumb_cntnt">
												{{video.video.vidname}}:::::{{video.video.description}}
											</span>	
										</a>
									</div>
								</div>
							</span>
						</div>

					<a href="#" ng-click="loadMore()">More....</a>
				</div>

	<!--This div for displaying the genres,, u click on one of these, the data in the above div changes accordingly and populates the videos to be displayed that day in that genre   -->
			<!--<div class="col-md-" id="genres">
				<ul>
					<li ng-repeat="genre in genres">
						<a href="#">{{genre}}</a>
					</li>
				</ul>
			</div>-->
		</div>
	</div>
	<!-- to be ignored ;) to be implemented later
	<p>{{user.updatedOn | date:'medium'}}</p>
	<p>{{user.createdOn | date:'medium'}}</p>
	testing -->

	<!--To be put:: The recent videos uploaded and trending videos divs-->
</div>
