<div ng-controller="ProfileCtrl">
	<div ng-include="'components/navbar/navbar.html'"></div>
<!--
	<header class="hero-unit" id="banner">
 		<div class="stage" id="user_profile">-->
            <div id="pro_pic"><img src="Pro_pic/DSC09016.JPG" style="width:100%;height:100%;"></img>
	            <div id="user_profile">
		            <div id="name">
		                <span><h2>Venkat Teja</h2></span>
		            </div>
		        
		        	<div id="infodiv">
		            	<span id="info">Director Editor Screenwriter</br></span>
		            	<span id="info">9th Feb 1996</span>
		        	</div>
	        	</div>
	        </div>
	</header>
	 <div class="stage" id="user_hist_div1">
            <div id="user_hist_div2" class="stage">
	
				<ul>
					<li ng-repeat="video in user.videos">
						<a href="#" ng-click="watchVid(video.vidurl)">
							<img src="{{video.posterurl}}">
							<p>Name : {{video.vidname}}</p>
							<p>Description:{{video.description}}</p>
							<p>Date uploaded : {{video.createdOn | date:'medium'}}</p>
							<p>Views : {{video.view_count}}</p>

						</a>
					</li>
				</ul>
			</div>
	</div>
</div>