            #banner {
                    margin:0px;
                    text-align:left;
            }
            #user_profile   {
                margin:10px auto;
                padding:10px 10px;
                position: absolute;
                top: 60px;
                left:0px;
            }
            #pro_pic    {
                width:100%;
                height: 100%;
                top:-60px;
                float:left;
                position: relative;

            }
            #info   {
                color:black;
                padding:10px;
                font-weight:bold;
            }
            #user_hist_div1  {
                margin:70px auto;
            }

            #user_hist_div2   {
                padding:10px;
            height:auto;
            box-sizing:border-box;
            box-shadow:0px 5px 10px BLACK;
            overflow:visible;

            float:;
            width:auto;
            }
            #user_hist_div2 {
                text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
                color:white;
            }