<!--***********************Image & Video view Modal********************-->

<div ng-include="'components/modal/modal.html'"></div>
<!--******************************************************************-->


<div ng-controller="ProfileCtrl" id="for_blur">
	<div ng-include="'components/navbar/navbar.html'"></div>
	

            <div id="profile">
            <!--user pic and info goes here-->
            	<div id="pro_pic">
            		
            		<div id="pro_pic_wrapper">
            			<div >
	        				<img src="{{user.galleryPic}}" style="width:100%;height:100%;z-index:0;position:relative;" alt="" id="gal_pic" >
	        				<div id="HOF_display" class="tab-content colorw">
				        		<button type="button" class="close" onclick="document.getElementById('HOF_display').style.display = 'none'">&times;</button>

				        		<span id="about_user" class="tab-pane fade ">
				        			
				        			<h4>About<hr/></h4>
				        			
									<span>
					                	<span ng-click="edit.about=true" ng-hide="edit.about && user.name==loggedInUser.name" ng-disabled="user.name!=loggedInUser.name">{{userAbout}}</span>
					                	<div ng-show="edit.about && user.name==loggedInUser.name">
					                		<form name="form" ng-submit="editProfile(form.about,2)" ng-model="form" data-bind="if: edit.about==true"> 
					                			<textarea class='autoExpand' rows='3' data-min-rows='3' value="{{userAbout}}" placeholder='About' id="textarea" style="width:100%" value="{{userAbout}}" ng-model="form.about" data-bind="hasfocus: true">
					                			</textarea>
					                			
					                			
					                			<br>
					                			<button type="submit" class="w2b">Save</button> 
					                			<button type="button" ng-click="edit.about=false" class="w2b">Cancel</button>
					                		</form>
					                	</div>
					                </span>
								</span>
				        		<span id="HOF" class="tab-pane fade">
				        			<h4>Hall of Fame<hr/></h4>

				        			<content-item ng-repeat="item in hof | orderBy:'-createdOn'" content="item" style="margin:5px 8.167%;" class="col-md-10">
															
									</content-item>
				        		</span>
								
				        		

									<!--<div class="tab-pane fade in active" id="upload_form2">
						        		<div class="tab-content">
							        		<span id="articlee_up" class="tab-pane fade">
							        			<h3>Add your Article here</h3>					
													
													<a href="#credits2" data-toggle="tab" class="b2w">Next</a>
							        		</span>
							        		<span id="imagee_up" class="tab-pane fade">
							        			<h3>Add your Image here</h3>
																
												<div class="form-group">
													<input type="text" class="form-control upld_form" ng-model="form.imgName" placeholder="Image Name">
												</div>
												<div class="form-group">
													<input type="text" class="form-control upld_form" ng-model="form.description" placeholder="Description">
												</div>
												<div class="form-group">	
													<input type="text" class="form-control upld_form" ng-model="form.picUrl" placeholder="Image Url">
												</div>
												<div class="form-group">	
													<input type="text" class="form-control upld_form" ng-model="form.tags" placeholder="Tag a category" >
												</div>
												<div class="form-group">
													<tags-input ng-model="form.vedik" add-on-paste="true" display-property="name" placeholder="Add the Vedik" add-from-autocomplete-only="true"  class="bootstrap" replace-spaces-with-dashes="false">
												        <auto-complete source="loadTags($query)" max-results-to-show="10"></auto-complete>
												    </tags-input>
												</div>
												<a href="#credits2" data-toggle="tab" class="b2w">Next</a>
							        		</span>
							        		<span id="videoe_up" class="tab-pane fade">
													<h3>Add your Video here</h3>
																		
														<div class="form-group">
																		
															<input type="text" class="form-control upld_form" ng-model="form.vidName" placeholder="Name of Video">
														</div>
														<div class="form-group">
																			
															<input type="text" class="form-control upld_form" ng-model="form.vidUrl" placeholder="Youtube link to video">
														</div>
														<div class="form-group">
																				
															<input type="text" class="form-control upld_form" ng-model="form.posterUrl" placeholder="Poster Url">
														</div>
														<div class="form-group"> <!-- Put text area --
															<textarea class='autoExpand form-control' rows='3' data-min-rows='3' placeholder='Description' id="textarea" style="width:100%" ng-model="form.description" data-bind="hasfocus: true">
								                			</textarea>													
																		
														</div>
														<div>
															<tags-input ng-model="form.genres" add-on-paste="true" display-property="name" placeholder="Genre/Category" add-from-autocomplete-only="true"  class="bootstrap" replace-spaces-with-dashes="false">
														        <auto-complete source="loadTags($query)" max-results-to-show="10"></auto-complete>

														    </tags-input>
														</div>
																	
														<div>
															<tags-input ng-model="form.vedik" add-on-paste="true" display-property="name" placeholder="Add the Vedik" add-from-autocomplete-only="true"  class="bootstrap" replace-spaces-with-dashes="false">
														        <auto-complete source="loadTags($query)" max-results-to-show="10"></auto-complete>
														    </tags-input>
														</div>
														<a href="#credits2" data-toggle="tab" class="b2w">Next</a>
							        		</span>
							        	</div>
						        	</div>-->
						        	
					        	
				        	</div>
	        			</div>
	           				
           				<!-- <div id="gal_pic_edit" data-toggle="modal" data-target="#gal_pic_modal" onclick="document.getElementById('for_blur').style.filter = 'blur(5px)'" ng-show="user.name==loggedInUser.name"><a href=""><u>Edit Pic</u></a></div> -->

           				<script>
					  	$(document).ready(function(){
					   		$("#gal_pic_edit").click(function(){
								var windowHeight= $(window).height();
								var modalHeight= $(".modal_center").innerHeight;
								var margin= (windowHeight*25)/100;
									
								$(".glassy").css("border", "5 solid black");
							});
						});
						</script>
						<script>
			               $(document).ready(function(){
			                    
			                        $("#gal_pic").css({"clip": 'rect(0px,'+$(window).width()+'px,'+($(window).height()-85)+'px,0px)'});
			                        $("#pro_pic").css({"height": ($(window).height()-65)+'px'});
			                  });
			            </script>
			            <div id="user_profile">
			            	<div class="thumbs_wrap col-md-12">
			            		<img src="{{user.proPic}}"  id="dp">

			            		<!-- <div id="dp_edit" data-toggle="modal" data-target="#dp_modal" onclick="document.getElementById('for_blur').style.filter = 'blur(5px)'" ng-show="user.name==loggedInUser.name">
			            			<a href=""><u>
			            				<img src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Actions-document-edit-icon.png" width="20px" height="20px">
			            			</u></a>
			            		</div> -->
			            	</div>
		            		<div  class="col-md-12" >
					        
					                
					                	<p ng-click="edit.name=true" ng-hide="edit.name && user.name==loggedInUser.name" id="pro_name">{{user.name}}</p>
					                	<!-- <div ng-show="edit.name && user.name==loggedInUser.name">
					                		<form name="form" ng-submit="editProfile(form.name,1)" ng-model="form"> 
					                			<input type="text" value="{{user.name}}" ng-model="form.name" autofocus>
					                			<br>
					                			<button type="submit" class="w2b">Save</button> 
					                			<button type="button" ng-click="edit.name=false" class="w2b">Cancel</button>
					                		</form>
					                	</div> -->
					                
					            
					        
						        	<div id="infodiv">

						            	<!--<span id="info">Director Editor Screenwriter</br></span>-->
						            	<span style="font-size:12px" class="btnbdr">_/\_ Respect</span>
						            	<!-- <span ng-if="user._id!=loggedInUser._id">
							            	<button  ng-click="follow()" class="w2b">{{followStatus}}</button>
											<button ng-show="isFollowing"  ng-click="unfollow()"  class="w2b">Following</button>
										</span> -->
						            </div>
					            

				        	</div>
				        </div>
           			</div>
	            	

		            <!-- <div >
		            	
				        <br/><br/><br/><br/><br/><br/><br/><br/><br/>

				        <div id="HOF_div" onclick="document.getElementById('HOF_display').style.display = 'block'">
			        		<ul>
			        			<a href="#about_user" data-toggle="tab"><li><span class="glyphicon glyphicon-user"></span> About</li></a>
			        			<a href="#HOF" data-toggle="tab"><li><span class="glyphicon glyphicon-education"></span> Hall of Fame</li></a>
			        			<a href="#HOF" data-toggle="modal" data-target="#editUser" ng-show="user.name==loggedInUser.name"><li><span class="glyphicon glyphicon-education"></span> Edit Profile</li></a>
			        			<a href="#HOF" data-toggle="tab"><li><span class="glyphicon glyphicon-education"></span> Settings</li></a>
			        			
			        				        			
			        			 
			        		</ul>
			        	</div>
			        	
			        	
			        	

		        	</div> -->
		        	
		        	

		        	
		        	<!-- <a href="#upload_form0" data-toggle="tab" onclick="document.getElementById('HOF_display').style.display = 'block'">
		        		<div id="upload_btn">
			        		<md-button class="md-fab" aria-label="Eat cake">
					            <span class="fab_plus">+</span>
					        </md-button>
			        	</div>
		        	</a> -->
		        	
		        	
		        	<!--<div id="upload_btn" onclick="document.getElementById('HOF_display').style.display = 'block'">
		        		<ul>
		        			<a href="#article_up" data-toggle="tab"><li><span class="glyphicon glyphicon-open"></span> Article</li></a>		        			
		        			<a href="#image_up" data-toggle="tab"><li><span class="glyphicon glyphicon-open"></span> Image</li></a>
		        			<a href="#video_up" data-toggle="tab"><li><span class="glyphicon glyphicon-open"></span> Video</li></a>
		        		</ul>
		        	</div>-->

		        	
		        	
		        	
	        	</div>
	        

	                                               
				<!--users content, videos etc-->
				 <div id="user_hist_div1" class="thumbs_wrap col-md-12">

				 	<div id="stages_list" class="box_shadow_up">
	            		<ul class="nav nav-tabs">
	            			<li class="active"><a data-toggle="tab" href="#home">Home</a></li>  
						  	<li ng-repeat="stageList in stageList" ng-click="stageDiv(stageList.id)"><a data-toggle="tab" href="#{{stageList.id}}">{{stageList.name}}</a></li>
						</ul>
					</div>
					<script type="text/javascript">
						$(document).ready(function() {
  
						  $(window).scroll(function () {
						      //if you hard code, then use console
						      //.log to determine when you want the 
						      //nav bar to stick. 
						      var trueHeight=$(window).outerHeight();
					            var height;
					            if(trueHeight>500)
					            	height=trueHeight;
					            else 
					            	height=500;
						      console.log($(window).scrollTop())
						    if ($(window).scrollTop() > (height-65)) {
						      $('#stages_list').addClass('navbar_sec_fixed');
						    }
						    if ($(window).scrollTop() < (height-64)) {
						      $('#stages_list').removeClass('navbar_sec_fixed');
						    }
						  });
						});
					</script>

					<!-- <div class="col-md-12" id="art_wrap">
							
					</div> -->
				 	
				 	<div id="art_wrap" class="thumbs_wrap col-md-6">
			            
				
						

										<div class="tab-content" >
											<div ng-repeat="item in posts | orderBy:'-createdOn'" class="thumbs_wrap col-md-12 tab-pane fade in active" ng-init="getCredit($index, item._id)">
												<div style="padding: 0px 10px" class="col-md-12">
													<div class="bgw col-md-12 colorb" style="padding: 10px"> 
														<img src="{{user.proPic}}" width="auto" height="20px" id="dp">  {{user.name}} as 
														<span ng-repeat="credit in credits[$index]">{{credit.credit.creditDetail}} </span>
													</div>
												</div>
										
												
												<content-item  content="item">
													
												</content-item>
											</div>
										

											<div  class="tab-pane fade" ng-repeat="stageDiv in stageList" id="{{stageDiv.id}}">
												<div ng-repeat="item in stageDivPosts | orderBy:'-createdOn' ">
													<div style="padding: 0px 10px" class="col-md-12">
														<div class="bgw col-md-12 colorb" style="padding: 10px"> 
															<img src="{{user.proPic}}" width="auto" height="20px" id="dp"> {{user.name}} as 
															<span ng-repeat="credit in credits[$index]">{{credit.credit.creditDetail}}</span>
														</div>
													</div>
												    <content-item  content="item">
														
													</content-item>
												</div>
											</div>
										</div>												
													
											
						
					</div>
					
				</div>
				<!--user content ends here-->
			</div>
</div>






