<!--***********************Image & Video view Modal********************-->

<div ng-include="'components/modal/modal.html'"></div>
<div ng-include="'components/jqscripts/jqscripts.html'"></div>
<!--******************************************************************-->


<div ng-controller="ClubCtrl" id="for_blur">	
	<div ng-include="'components/navbar/navbar.html'"></div>
	<div id="nav_fade">
	  <img src="http://www.rottweilerheartsrescue.org/Images/fade2black.png" width="100%" height="200px">
	</div>

            <div id="profile">
<!--*********************************user pic and info goes here************************-->
            	<div id="pro_pic">
            		
            		<div id="pro_pic_wrapper">
            			<div >
	        				<img src="{{club.galleryPic}}" style="width:100%;height:100%;z-index:0;position:relative;opacity:0.6" alt="" id="gal_pic" >
	        				
	        			</div>
	           				
           				<!-- <div id="gal_pic_edit" data-toggle="modal" data-target="#gal_pic_modal" onclick="document.getElementById('for_blur').style.filter = 'blur(5px)'" ng-show="user.name==loggedInUser.name"><a href=""><u>Edit Pic</u></a></div> -->

           				<script>
					  	$(document).ready(function(){
					   		$("#gal_pic_edit").click(function(){
								var windowHeight= $(window).height();
								var modalHeight= $(".modal_center").innerHeight;
								var margin= (windowHeight*25)/100;
									
								$(".glassy").css("border", "5 solid black");
							});
						});
						</script>
						<script>
			               $(document).ready(function(){
			                    
			                        $("#gal_pic").css({"clip": 'rect(0px,'+$(window).width()+'px,'+($(window).height()-85)+'px,0px)'});
			                        $("#pro_pic").css({"height": ($(window).height()-65)+'px'});
			                  });
			            </script>
			            <div id="user_profile">
			            	<div class="thumbs_wrap col-md-3 valignOut">
			            		<span class="valignIn"><img src="{{club.proPic}}"  id="dp"></span>

			            		<!-- <div id="dp_edit" data-toggle="modal" data-target="#dp_modal" onclick="document.getElementById('for_blur').style.filter = 'blur(5px)'" ng-show="user.name==loggedInUser.name">
			            			<a href=""><u>
			            				<img src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Actions-document-edit-icon.png" width="20px" height="20px">
			            			</u></a>
			            		</div> -->
			            	</div>
		            		<div  class="col-md-6 valignOut" >					        
					                
					                	<span   id="pro_name" class="valignIn">
					                		{{club.name}}'s
					                		<br/>
					                		
					                	</span>
					                	<!-- <div ng-show="edit.name && user.name==loggedInUser.name">
					                		<form name="form" ng-submit="editProfile(form.name,1)" ng-model="form"> 
					                			<input type="text" value="{{user.name}}" ng-model="form.name" autofocus>
					                			<br>
					                			<button type="submit" class="w2b">Save</button> 
					                			<button type="button" ng-click="edit.name=false" class="w2b">Cancel</button>
					                		</form>
					                	</div> -->
					            
				        	</div>
				        	<div class="col-md-3 " id="vedik_pro"><span class="valignIn">Vedik</span></div>

				        	
				        </div>
           			</div>
           		</div>
	        

	                                               
				<!--***************************users content, videos etc**********************-->
				 <div id="user_hist_div1" class="thumbs_wrap col-md-12">
				 	<div id="stages_list" class="box_shadow_up club_nav">
	            		<ul class="nav nav-tabs">
	            			<li class="active"><a data-toggle="tab" href="#home">Home</a></li>  
						  	<li ng-repeat="stageList in stageList" ng-click="stageDiv(stageList.id)"><a data-toggle="tab" href="#{{stageList.id}}">{{stageList.name}}</a></li>
						  	<li><a ng-show="club.admin==loggedInUser._id" type="button" class="" data-toggle="modal" data-target="#event"> Create Event</a></li>
						</ul>
					</div>
					

				 	
				 	<div id="art_wrap" class="thumbs_wrap col-md-6">					
						<div id="club_posts" class="tab-pane fade in active" ng-show="displayPosts">
							<content-item ng-repeat="item in posts | orderBy:'-createdOn'" content="item">
									
							</content-item>
						</div>
					</div>
					<div class="col-md-6 " style="padding:20px">
						<div class="thumbs_wrap col-md-12"  style="border:2px solid grey;padding:10px;">
				            <h4 class="colorb">Annouce<hr></h4>
				            <div >
				              <ul class="nav nav-tabs" >
				                <li  class="active"><a href="#Earticle_up" data-toggle="tab" ><span class=" 	glyphicon glyphicon-pencil" style="padding:6px 5px"></span> Post</a></li>               
				                <li ><a href="#Eimage_up" data-toggle="tab" ><span class="glyphicon glyphicon-picture" style="padding:6px 5px"></span> Image</a></li>
				                <li ><a href="#Evideo_up" data-toggle="tab" ><span class="glyphicon glyphicon-film" style="padding:6px 5px" ></span> Video</a></li>
				              </ul>
				              <form name="form"  ng-model="form">
				                  <div class="tab-content">
				                      <div class="tab-pane fade in active" id="upload_form2">
				                    
				                        <div class="col-md-12">
				                          <div class="form-group">
				                        <input type="text" class="form-control upld_form" ng-model="form.name" placeholder="Name">
				                      </div>
				                      <div class="form-group">
				                        <textarea class='autoExpand form-control' rows='3' data-min-rows='3' placeholder='Description' id="textarea" style="width:100%" ng-model="form.description" data-bind="hasfocus: true">
				                          </textarea>                         
				                                    
				                      
				                                            
				                      
				                      
				                        </div>
				                        
				                      
				                          
				                      <div class="tab-content">
				                            <div id="Earticle_up" class="tab-pane fade in active">
				                                <button type="submit" class="w2g fullW" ng-click="postSubmit()">Submit</button>
				                            </div>
				                        <div id="Eimage_up" class="tab-pane fade">
				                            <div class="form-group">  
				                              <input type="text" class="form-control upld_form" ng-model="form.picUrl" placeholder="Image Url">
				                            </div>
				                            <img src="{{form.picUrl}}" width="100%" height="auto">
				                            <button type="submit" class="w2g fullW" ng-click="imageSubmit()">Submit</button>
				                        </div>
				                        <div id="Evideo_up" class="tab-pane fade">
				                            <div class="form-group">
				                                        
				                              <input type="text" class="form-control upld_form" ng-model="form.vidUrl" placeholder="Youtube link to video">
				                            </div>
				                            <div class="form-group">              
				                              <input type="text" class="form-control upld_form" ng-model="form.posterUrl" placeholder="Poster Url">
				                            </div>
				                            <img src="{{form.posterUrl}}" width="100%" height="auto">
				                            <button type="submit" class="w2g fullW" ng-click="videoSubmit()">Submit</button>
				                        </div>
				                      </div>
				                      
				                        
				                          
				                        </div>

				                    </div>
				                  
				                  </div>
				                </form>
				            </div>

				        </div>
						<div id="stages_list" class=" thumbs_wrap bgw">
		            		<ul class="nav nav-tabs">
		            			<li ><a data-toggle="tab" href="#about_user">About</a></li>
		            			<li class="active"><a data-toggle="tab" href="#events"><span class=" 	glyphicon glyphicon-calendar"></span> Events</a></li> 
		            			<li ><a data-toggle="tab" href="#HOF"> Hall of Fame</a></li>  
		            			<li ><a href="" data-toggle="modal" data-target="#editClub" ><span class="glyphicon glyphicon-edit"></span> Edit Profile</a></li> 
		            			<li ><a data-toggle="modal" data-target="#clubSettings" href=""><span class="glyphicon glyphicon-cog"></span> Settings</a></li> 
							</ul>
							<div  class="tab-content colorw">
				        		

				        		<span id="about_user" class="tab-pane fade ">
				        			
				        			
				        			
									<span>
					                	<span  >{{club.about}}</span>
					                	<span ng-if="!user.about">{{club.name}} is yet to tell about itself to Vedik</span>
					                	<!-- <div ng-show="edit.about && user.name==loggedInUser.name">
					                		<form name="form" ng-submit="editProfile(form.about,2)" ng-model="form" data-bind="if: edit.about==true"> 
					                			<textarea class='autoExpand' rows='3' data-min-rows='3' value="{{userAbout}}" placeholder='About' id="textarea" style="width:100%" value="{{userAbout}}" ng-model="form.about" data-bind="hasfocus: true">
					                			</textarea>
					                			
					                			
					                			<br>
					                			<button type="submit" class="w2b">Save</button> 
					                			<button type="button" ng-click="edit.about=false" class="w2b">Cancel</button>
					                		</form>
					                	</div> -->
					                </span>
								</span>
								<span id="events" class="tab-pane fade in active">
				        			<div class="col-md-12" id="clubs_list">
										<div class="thumbs_wrap box_shadow_dwn">
											<div class="list_heading" ><span class=" 	glyphicon glyphicon-calendar"></span> Events</div>				
											<a href="/{{redirect[$index]}}/{{tEvent._id}}" ng-repeat="event in eventsList" ng-init="redirect(event.subOnl,$index)">
												<button type="button" class="btn btn-info btn-lg w2g col-md-12 lh20 alignL" style="font-size:15px"><span class="glyphicon glyphicon-calendar"></span> {{event.name}}
												<br/>
													<div class="sizeten colorg row">
													 <span class="col-sm-5" style="text-overflow:ellipsis;overflow:hidden"><span class="glyphicon glyphicon-map-marker"></span> {{event.location}} </span>
													<span class="col-sm-7" style="text-overflow:ellipsis;overflow:hidden">
														<span class="glyphicon glyphicon-time"></span> {{event.startDate}}
														<span ng-show="events.endDate">-{{event.endDate}}</span>
													</span>
													</div>
												</button>
											</a>
											<a href="" ng-show="!eventsList[0]"><button type="button" class="btn btn-info btn-lg w2g col-md-12 alignL" style="height:50px">{{club.name}} dint create any events yet</button></a>		
												
											
											
										</div>
									</div>

				        			
				        		</span>
				        		<span id="HOF" class="tab-pane fade">
				        			

				        			<content-item ng-repeat="item in hof | orderBy:'-createdOn'" content="item" style="margin:5px 8.167%;" class="col-md-10">
									<hr/>					
									</content-item>
				        		</span>
								
				        		

									      	
					        	
				        	</div>
						</div>
						
						
					</div>
				</div>
				<!--**********************user content ends here****************************-->
			</div>
</div>






