#club_wrapper{
    position: relative;
    float: left;
}
.triangle{
    border-left:500px solid;
    border-top: 200px solid;
    border-color: rgba(0,0,0,0);
    border-right:500px solid #fff;    
    border-bottom:200px solid #fff;
    width:100% ;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    /*filter:blur(10px);*/
}
#club_img   {
    width: 100%;
    height: 400px;
    position: absolute;
}
#club_info  {
    width: 
}


.settings   {
    position: fixed;
    top: 150px;
    right:2%;
    z-index: 1;

}
.settings button{
    border-radius: 50%;
    padding: 2px 0px;
}
.list_heading{
    color: #FFF;
    padding: 20px !important;
    width: 100%;
    position: relative;
    font-weight: bold;
    background-color: rgb(130, 184, 245);
    text-align: center;
    font-family: arial;
    font-size: 15px;
    letter-spacing: 0px;






