
.booking_wrapper	{
	opacity: 1;
}
#upload_form	{
	margin:10px auto;
	
	padding:20px;
}
.booking_nav_div	{
		height:50px;
		padding:0px 20px;
}
.booking_nav	{
		border-right: 2px solid black;
		padding:20px;	
		margin:0px;
		float:left;
}
.booking_body	{
	background-image: url("http://2.bp.blogspot.com/-4E0OGo5Gu-0/T8zW_7IkmvI/AAAAAAAAASE/J1s6aGGBFMs/s1600/2hs-2009-05-a-print.jpg");
	padding: 20px;
}