<div ng-controller="UploadPortalCtrl">
	<div ng-include="'components/navbar/navbar.html'"></div>
	<div id="hidden"></div>	
	<div style="padding:10px">	
		
		<div  class="thumbs_wrap col-md-12 " style="background: rgb(240,240,240);">
			
			<h3 style="text-align: center;font-family: "times new roman";">Upload your MasterPiece</h3>
			
			<div class="centric sizeten colorg">*Note: It is not necessary that uploader gets to see the uploaded work on his/her profile, it only appears if her/she is credited for it.</div>
			<hr style="border: 1px solid white;" />
			<div id="newUpload"  style="margin:0px 20%" ng-repeat="item in newUpload" ng-show="newUpload[$index]">
					<content-item content="item" ng-style="for_blur" index="$index" >
					</content-item>
					<button type="button" class="col-md-4 w2g">Edit</button>
					<button type="button" class="col-md-4 w2g" >Delete</button>
					<button type="button" class="col-md-4 w2g">Add One more</button>
			</div>
			<form name="form" ng-submit="postSubmit(form)" ng-model="form" novalidate collapse="newUpload">
    			<div class="tab-content thumbs_wrap col-md-12 " id="uploadAnimate">

        			<div class="tab-pane fade in active" id="upload_form2">
        				<ul class="nav nav-tabs" style="width:100%;padding:0px 100px">
			        		<li class="active" ng-click="setType(1)"><a href="#article_upl" data-toggle="tab" >Writing</a></li>	        			
			        		<li ng-click="setType(2)"><a href="#image_upl" data-toggle="tab"> Image</a></li>
			        		<li ng-click="setType(3)"><a href="#video_upl" data-toggle="tab" >Video</a></li>
			        	</ul>
    				
	        			<div id="upload_wrapper_left" class="col-md-6">
	        				<!-- <md-input-container >
					          <label>First name</label>
					          <input ng-model="form.name" placeholder="Title">
					        </md-input-container> -->
	        				<div class="form-group">
								<input type="text" class="form-control upld_form" ng-model="form.name" placeholder="Title"  name="title" required>

							</div>
							
							
							 <div class="form-group has-error">
							 <p class="help-block" ng-show="form.title.$error.required && submitted">
              									   Please enter title
          									    </p>
          									    </div>
							<div class="form-group">
								<!-- <md-input-container class="md-block">
							        <label>Description</label>
							        <textarea ng-model="form.description" columns="1"  rows="1"></textarea>
							     </md-input-container>
								 -->
								<textarea type="text" class='autoExpand form-control' rows='1' data-min-rows='1' placeholder='Description' id="textarea" style="width:100%" ng-model="form.description" data-bind="hasfocus: true"   name="descript" required>
					    		</textarea>													
														
							</div>
							 <div class="form-group has-error">
                     								 
             									
          									     <p class="help-block" ng-show="form.descript.$error.required && submitted ">
              									   Please enter Description
          									    </p>
          									     
            								  <p class="help-block">{{ errors.other }}</p>
          									  </div>
	
							<!-- <div>
								<tags-input ng-model="form.tags" add-on-paste="true" display-property="name" placeholder="Genre/Category" add-from-autocomplete-only="true"  class="bootstrap" replace-spaces-with-dashes="false">
							        <auto-complete source="loadTags($query)" max-results-to-show="10"></auto-complete>
							    </tags-input>
							</div>	 -->
							<div >
		        				<div class="tab-content">
		        					<div id="article_upl" ng-if="type==11">
		        						<div class="form-group">
		      
											<textarea type="text" class='autoExpand form-control' rows='7' data-min-rows='7' placeholder='Article' id="textarea" style="width:100%" ng-model="form.content" data-bind="hasfocus: true"  name="article" required>
								    		</textarea>						
										</div>
										 <div class="form-group has-error">
										 <p class="help-block" ng-show="form.article.$error.required && submitted">
              									   Please enter article</p>

										 </div>
									</div>

									<div id="image_upl" ng-if="type==12">
		        						<div class="form-group">	
											<input type="text" class="form-control upld_form" ng-model="form.picUrl" placeholder="Image Url">
										</div>
										<img src="{{form.picUrl}}" width="100%" height="auto">
									</div>
									<div id="video_upl" ng-if="type==13">
		        						<div class="form-group">
																	
											<input type="text" class="form-control upld_form" ng-model="form.vidUrl" placeholder="Youtube link to video">
										</div>
										<div class="form-group">							
											<input type="text" class="form-control upld_form" ng-model="form.posterUrl" placeholder="Poster Url">
										</div>
										<img src="{{form.picUrl}}" width="100%" height="auto">
									</div>
								</div>							
							</div>											
							<div>
								<tags-input ng-model="form.vedik" add-on-paste="true" display-property="name" placeholder="Add the Vedik" add-from-autocomplete-only="true"  class="bootstrap" replace-spaces-with-dashes="false" min-tags="1" name="tagVedik">
							        <auto-complete source="loadTags($query)" max-results-to-show="10"></auto-complete>
							    </tags-input>
							</div>
							 <div class="form-group has-error">
										 <p class="help-block" ng-show="form.tagVedik.$invalid && submitted">
              									   Please add Vedik</p>

										 </div>
							<!-- <a href="#credits2" data-toggle="tab" class="b2w">Next</a> -->
	        			</div>
	        			
	        			<div id="upload_wrapper_right" class="col-md-6">

	        				<div class="col-md-12" name="myForm">

			        			<p ng-click="x()">Who worked for this?</p>

			        				<md-radio-group ng-model="creditsRadio">
								      <md-radio-button value="me" class="md-primary" style="width:20%;float:left" > Only Me/Club</md-radio-button>
								      <md-radio-button value="team" style="width:20%;float:left"> We are a Team </md-radio-button>							      
								    </md-radio-group>
		        			
								<br/>
							</div>

							<div class="col-md-12" ng-if="creditsRadio=='me'">
								<md-input-container>
							        <label>Upload As</label>
							        <md-select ng-model="creditTo">
							           <md-optgroup ng-click="form.club=false">
							            <md-option ng-value="user()._id" style="background: white;">Yourself</md-option>
							          </md-optgroup> 
							          <md-optgroup label="Clubs" ng-click="form.club=true">
							            <md-option ng-value="club" ng-repeat="club in user().asAdmin" style="background: white;">{{club}}</md-option>
							          </md-optgroup>
							        </md-select>
							  		{{creditTo}}
							      </md-input-container>
								
								<div>
									<tags-input ng-model="form.userCredits" add-on-paste="true" display-property="creditDetail" placeholder="Credit yourself" add-from-autocomplete-only="true"  class="bootstrap" replace-spaces-with-dashes="false" min-tags="1" name="creditYourself">
								        <auto-complete source="loadCredit($query)" max-results-to-show="10"></auto-complete>
								    </tags-input>
								</div>
               
                                         <div class="form-group has-error">
										 <p class="help-block" ng-show="form.creditYourself.$invalid && submitted">
              									   Please add Vedik</p>

										 </div>


							</div>
	    				
							<div  class="col-md-12"  ng-if="creditsRadio=='team'">
								
								<md-input-container>
						              <label>What's Your Team Name</label>
						              <input ng-model="form.team"  type="text" name="teamName" required>
						              <span class="sizeten colorg">We need a team name to represent the work</span>
					            </md-input-container>  

										 <div class="form-group has-error">
										 <p class="help-block" ng-show="form.teamName.$error.required && submitted">
              									   Please enter Team Name</p>

										 </div>


								<table>
								   	<tr>
								   		<th>Credit</th>
								   		<th>Friends</th>
								  	</tr>											    				
								   	<tr ng-repeat="credit in creditType track by $index">
								   		<td style="width:40%;verticle-align:top">
			 					   			<div  layout="column" ng-cloak>

											  <md-content class="md-padding">
											  
											     
											      <div layout-gt-sm="row">
											        
											        <md-autocomplete flex 
											            md-input-name="autocompleteField"
											            md-input-minlength="2"
											            md-input-maxlength="18"
											            md-no-cache="false"
											            md-selected-item="creditType[$index]"
											            md-search-text="searchText"
											            md-items="item in querySearch(searchText,$index)"
											            md-item-text="item.creditDetail"
											            md-floating-label="Credit"
											           
											           	md-menu-class="autoCompleteDropDown"
											           	name="credit"
											           	required>
											          <md-item-template>
											            <span md-highlight-text="searchText">{{item.creditDetail}}</span>
											          </md-item-template>
											          <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
											            <div ng-message="required">You <b>must</b> have a favorite state.</div>
											            <div ng-message="minlength">Your entry is not long enough.</div>
											            <div ng-message="maxlength">Your entry is too long.</div>
											          </div>

											        </md-autocomplete>
											      </div>
											     

											  </md-content>
											</div>
															    			
										</td>
										<td style="width:60%;vertical-align: bottom;">
											<tags-input ng-model="creditUser[$index]" display-property="name" add-from-autocomplete-only="true"  class="bootstrap" placeholder="Tag Friends" name="tagFriends" min-tags="1">
												<auto-complete source="getSuggestionsForNames($query)" min-length='1'>
					      						</auto-complete>
					    					</tags-input>
					    					
										</td>

									</tr>
									<tr>
										<td style="width:40%;verticle-align:top">
											
										</td>
										<td style="width:60%;vertical-align: bottom;">
											 <div class="form-group has-error">
										 <p class="help-block" ng-show="form.tagFriends.$invalid && submitted">
              									   Please tag Friends</p>

										 </div>
										</td>
									</tr>
									<tr>
										<td style="padding:10px 0px;text-align: left;" colspan="2">
											<button type="button" class="w2g" ng-click="addCredit()" style="border:1px solid grey">Add Credit</button>
										</td>
										
									</tr>      							    			
								</table>	
								<div>
											      			
									
					      		</div>
					      		

											      		
					    	</div>
					    	
	        								
			        		
	        			</div>


	        					
						
	        			<div class="col-md-12" >
				    		<button type="submit" class="w2g col-md-12">Publish</button>
				    	
				    	</div>
	        			
				    	
				    	
			    	</div>
	    		</div>
	    	</form>
		</div>
	</div>
</div>





	<!-- <div class="col-md-7">
								<div style="margin:0px 10px;border:1px solid #ccc" class="thumbs_wrap col-md-12">
                                	<div class="post_div" style="width:100%">
                                    	<div class="text_type_post" id="article">
                                        	<a href="#">
                                            	<span id="event_post_heading">{{form.name}}</span>
                                        	</a>
                                        	</br>{{form.content}}</br></br>
                                        	<div>
                                            	<span>by<a href="#"> {{user.name}}</a></span>                                            
                                        	</div>
                                    	</div>
                                    	<span id="post_time">
                                            <span id="respond_post">
                                                <rating ng-model="rate" max="max" readonly="true"  titles="['one','two','three']" ng-click="ratePost(rate)"></rating>
                                                x by y users   
                                                time
                                            </span>
                                            <div class="dropdown">
                                                <button type="button" class="g2b float_right dropdown-toggle" id="post_edit" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down"></span></button>
                                                <ul class="dropdown-menu box_shadow_dwn" role="menu" aria-labelledby="post_edit">
                                                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="w2b">Edit</a></li>
                                                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="deletePost(content._id)" class="w2b">Delete</a></li>
                                                      
                                                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="addHOF(content._id)" class="w2b">+HOF</a></li>  
                                                </ul>
                                            </div>
                                            <span ng-click="bookADay(content._id)" class="float_right"><a href="#">Book A Day</a></span>
                                    	</span>                                   
                                	</div>
                            	</div>
							</div> -->
