	.vid_div	{
		padding: 10px;
		background-color: rgba(255,255,255,0.2);
		margin: 0px 0px;
		height: 200px;	
		
	}
		
	#vid_details	{
		color: black;
		list-style-type: none;
		padding: 0px 10px;
		text-shadow:none;
		overflow: hidden;
	}
	#vid_details #name	{
		font-size: 20px;
	}
	#vid_details #description	{
		font-size: 12px;
	}
	#vid_details #uploader	{
		font-size: 10px;
	}
	.img_div_wrap	{
		padding: 0px;

		
		height: 200px;
			}
	.notif_div_wrap	{
		padding: 0px;
		
		height:75px;
		
			}
	#img_post 	{
		position: absolute;
		
		width: 100%;
		height: auto;
		 transition: all 0.3s ease 0s;
		
	}

     #notif_back{
 	  	padding: 10px 0px;
	    overflow: hidden;
	    height: 75px;
	    line-height: 20px;
	}
     
    #notif_img{
		width: auto;
		max-width: 100px;
		height: 100%;
		margin: 0px auto;
    	display: block;
}
		
	
	.post_div	{
		position: relative;
		padding: 0px 10px 20px;
		
		/*margin: 30px 0px;*/
		float: left;
	}
	.notif_div	{
		position: relative;		
		/*margin: 30px 0px;*/
		float: left;
		padding: 0px;
		border-bottom: 2px solid white;	
		background-color: rgba(0,0,0,0.1);
	}
	.w2bfade	{
		display: block;
		background-image: url("http://www.rottweilerheartsrescue.org/Images/fade2black.png");
		z-index: 12;
		opacity: 0;
	}
	#img_name	{
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 10;
		font-size: 17px;
		color: white;
		line-height: 15px;
	}
	#notif_name	{
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 10;
		font-size: 11px;
		color: black;
		line-height: 13px;
	}
	#notif_uploader{
		font-size: 11px;
		color: rgba(0,0,0,0.5);
	}
	#notif_desc{
		font-size: 10px;
		color: rgba(0,0,0,0.5);
		line-height: 15px;
		position: absolute;
		text-overflow:ellipsis;
		white-space: nowrap;
		left: 10px;
		width: 286px;
		bottom: 5px;
		overflow: hidden;
	}
	
	.close	{
		margin: 0px 5px;
		position: absolute;
		right: 5px;
		top: 5px;
		color: black;
		z-index: 2;
		text-shadow: 1px 2px 1px white;

	}
	.modal 	{
		-webkit-filter: blur(0px);
  		filter: blur(0px);
  		margin: 40px auto 0px;
  		overflow-y:auto;
  		
	}
	.modal-dialog	{
		width:auto;
		position: relative;
		margin: 0px auto;
				
	}
	.modal-content	{
		background-color: rgba(0,0,0,0);
		box-shadow: none;
		border: 0px;
	}
	.modal-body	{
		padding: 10px;
	}
	.modal-body #img_viewed	{
		box-shadow: 0px 20px 50px #000;
	}
	.modalbackdrop	{
		filter:blur(40px);
		background-color: black;
	}
	.modal-backdrop{
		opacity: 0.8;
	    filter:blur('100px');
	}
	#up000{
		width: 100%;
	
	}
	
	
	 .notif_icon {
		width: auto;
		height:12px;
		padding: 0px 5px 0px 0px;	
		
		z-index: 2;
		margin: 0px auto;
		
	 }
	.play img	{
		width: auto;
		height:14%;
		position: absolute;
		bottom: 10%;
		z-index: 2;
		margin: 0px auto;
		right: 5%;
	 	}
	 .play	{
	 	display: block;
	 }
	.thumbs_in:hover .play	{
		display: hidden;
	}

	 #user_poster    {
                width: 100%
    }
	.thumbs_in:hover #img_post
	{
	        -webkit-transform: scale(1.3);
	        -ms-transform: scale(1.3);
	        transform: scale(1.3);
	       
	}

	#post_view	{
		 background-color: rgba(36,123,160,0.1);
		 height: 200px;
		 float: left;
		 text-shadow:0px 0px 0px;
		 padding: 10px;
		 color: white;
	}
	.float_right	{
		float: right;
	}
	.text_type_post	{
		background-color: white;
		padding: 10px 10px 0px 10px;
		
		font-family: arial;
		letter-spacing: 1px;
		font-size: 13px;		
		color: black;

	}
	.text_type_notif	{
		background-color: rgba(230,230,230,1);
		padding: 10px 10px 0px 10px;
		font-family: arial;
		letter-spacing: 1px;
		font-size: 13px;		
		color: black;
		border-bottom: 1px solid grey;

	}
	#event_det	{
		height: auto;
	}
	#article	{
		min-height: auto;
		line-height: 30px;
	}

	/*#event_det div {
		color: black;
		font-size: 10px;
		position: absolute;
		bottom: 0px;
		padding: 5px;
		width: 100%;

	}*/
	#post_time	{
		color: grey;
		width: 100%;
		padding: 5px 10px 5px 10px;
		float: left;
		background-color: white;
		
	}
	#event_post_heading	{
		font-size: 25px;
	}
	#respond_post	{
		font-size: 10px;
		margin: 0px 10px 0px 0px;
		width: 25%;
		vertical-align: middle;

	}
	.glassy	{
		color: rgba(255,255,255,0.7);
		padding: 10px;
		background-color: rgba(255,255,255,0);

	}
	.glassy_thick	{
		color: rgba(255,255,255,0.7);
		padding: 10px;
		background-color: rgba(255,255,255,0.2);	

	}
	#img_des_com	{
		margin: 0px 16.67%;
	}
	#img_viewed	{
		display: block;
        
       height: 100%;
       width: auto;
        margin:0px 25%;
        box-shadow: 1px 1px 10px black, 1px 1px 2px grey;
        position: relative;
	}
	#img_viewed_info	{
		height: 100%;
        
        top:0px;
        position: absolute;
                
        width: 100%;
        margin:0% auto;
	}
	 #img_shade_bottom   {
            position: absolute;
            bottom: 0px;
            left: 0px;
        }
     #img_des {
     	bottom: 0px;
     	left: 0px;
     	color: white;
     	width: 100%;
     	text-overflow:ellipsis;
     	position: absolute;
     	padding: 10px;
     	overflow: hidden;
     	white-space: nowrap;
     }

     .CRicon{
     	position: absolute;
     	top: 5px;
     	right:0px;
     	width: 35px;
     	height: auto;
     }
     #wrapper {
     	position: relative;
     }

     .a.my-class	{
     	filter:blur(40px);
     }
     #img_view 	{
     	padding: 10px 0px;
     }

     /*font colors*/
     .colorg{
     	color: rgba(0,0,0,0.6);
     }
     .colorw{
     	color: white;
     }
     .colorb{
     	color: rgb(19,19,19);
     }
     .colorbl{
     	color: rgb(1,192,255);
     }
     /*background (bg) color*/
     .bgb{
     	background-color: rgb(19,19,19);
     }
     .bgw{
     	background-color: white;
     }
     .bgbl{
     	background-color: rgb(1,192,255);
     }
     .bglg{
     	background-color: rgb(220,220,220);
     }
     /*font size*/
     .sizeten{
     	font-size: 10px;
     /*line height*/	
     }
     .lh20{
     	line-height: 20px;
     }

     .lh15{
     	line-height: 15px;
     }
     .lh10{
     	line-height: 10px;
     }
     /*coursor pointer*/
     .cursorp{
     	cursor: pointer;
     }
.center-cropped {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 100px;
  width: 100px;
}