<div ng-controller="ViewPageCtrl" id="viewpage">
	<div ng-include="'components/navbar/navbar.html'"></div>

	<div  id="video">
        <div class="wrapper">
         <img src="http://www.solidbackgrounds.com/images/1280x720/1280x720-ghost-white-solid-color-background.jpg" alt="" id="video_play"/>
            <div my-youtube code='vidCode'>
            </div>
        </div>
        <div class="content" id="title">
            <span id="video_name">{{video.vidname}}</span>
        </div>
        <div simple ng-model="rating1" max="5" on-rating-selected="rateFunction(rating)"></div>
    </div>
      <!-- info, comments, reviews etc of video-->
        <div class="stage" id="vid_stuff">
            <div class="content">
            <!--Crew and cast-->
                <div id="credits" >
                <!--credits start-->
                
 
  
                     
                        
                      
                    </div>

                   
                <!--credits end-->

               
                </div>
                <!--Best part, comments, review-->
                <ul class="nav nav-tabs" id="view_page_tabs">
                        <li class="active"><a data-toggle="tab" href="#best_part">Best Part</a></li>
                        <li><a href="#comments" data-toggle="tab">Comments</a></li>
                        <li><a href="#reviews" data-toggle="tab">Reviews</a></li>
                 </ul>

                 <!--tab content-->
                <div class="tab-content">
                    <div id="best_part" class="tab-pane fade in active">
                        <h3>Best part<hr></hr></h3>
                    </div>
                    <div id="comments" class="tab-pane fade">
                        <h2>Comments<hr></hr></h2>
                        <div>
                            <div>
                                <h4>Leave a Comment:</h4>
                                <form name="myForm" ng-submit="submit()" class="form" novalidate> 
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" ng-model="commentData"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                            <div>
                                <div ng-repeat="comment in video.comments">
                                    <p>{{comment.comment.commentPutter}}</p>
                                    <p>{{comment.comment.commentData}}</p>
                                    <p>{{comment.comment.datePosted}}</p>
                                    <button class="btn btn-default" ng-show="comment.comment.commentPutter===user._id" ng-click="delete(comment._id)">Delete</button>
                                    <button class="btn btn-default" ng-show="comment.commentPutter===user._id" ng-click="edit(comment._id)">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="reviews" class="tab-pane fade">
                    <!--add review part here-->
                        <h2>Reviews<hr></hr></h2>
                    </div>
                </div>
            </div>
        </div>
		
	
</div>
