            #video  {
                margin:0px auto;
                text-align:center;
                padding:20px 0px;
                width:100%;
            }
            .content    {
                 padding:10px 0px;
                 margin:10px auto;
            }
            #title  {
                margin:0px auto;
            }

            #video_name {
                font-size:30px;
                width:840;
                position:relative;
            }
            .comments    {
                margin:0px 80px;
            }
            table   {
                width:100%;
                text-align:center;
            }
            td.crew_cat {
                font-weight:bold;
                text-align:right;
                padding:5px 5px;
             }
            td.crew_mem {
                text-align:left;
                padding:5px 5px;
            }
            td.rating   {
                padding:5px 5px;
                width:500px;
            }
            a:link.crew_mem, a:visited.crew_mem   { 
                font-size:14px;
            }
            img#video_play {
              display: block;
              height: auto;
              width: 70%;
              left:15%;
              position: relative;
            }
            iframe {
              height: 100%;
              left: 15%;
              top:0px;
              position: absolute;
              
              width: 70%;
              margin:0% auto;
            }
            .wrapper {
                float:none;
                margin: 0% auto;
             position: relative;
            }*/