           body   {
              background-color: #eaeaea;

            }
            #video  {
                margin:0px auto;
                text-align:center;
                padding:20px 0px;
                width:100%;
            }
            .content    {
                 padding:10px 0px 0px 0px;
                 margin:10px auto;
            }
            #title  {
                margin:0px auto;back
            }

            #video_name {
                font-size:30px;
                width:840;
                position:relative;
            }
            #vid_stuff  {
              background-color:rgba(255,255,255,0.1);
              margin: 0px 12.5555555%;
            }
            .comments    {
              /*  background-color: rgba(0,0,0,0.1);  */              
                border-radius: 0px;
                overflow: hidden;
            }
            .commenter  {
                top:1px;
                left: 80px;
                position: absolute;
                font-size: 14px;
                text-shadow: 1px 1px 5px black, 0 0 2px blue, 0 0 2px darkblue;
                color: white;
                z-index: 12;
            }
            #comment_data {
              padding: 0px 10px;
            }
            #comment_time {
              font-size: 10px;
              padding: 0px 10px;
              color: rgba(0,0,0,0.6);
            }
            #comments_list li {
                width: 100%;
                position: relative;
                float: left;
                padding: 3px;
                list-style-type: none;

            }
            table   {
                width:100%;
                text-align:center;
            }
            td.crew_cat {
                font-weight:bold;
                text-align:right;
                padding:5px 5px;
             }
            td.crew_mem {
                text-align:left;
                padding:5px 5px;
            }
            td.rating   {
                padding:5px 5px;
                width:500px;
            }
            a:link.crew_mem, a:visited.crew_mem   { 
                font-size:14px;
            }
            @media (min-width: 992px) {
              img#video_play {
                display: block;
                height: auto;
                width: 70%;
                left:15%;
                position: relative;
              }
              iframe {
                height: 100%;
                left: 15%;
                top:0px;
                position: absolute;
                
                width: 70%;
                margin:0% auto;
                box-shadow: 1px 1px 10px black;
              }
              .wrapper {
                  float:none;
                  margin: 0% auto;
               position: relative;
              }
            }
            @media (max-width: 992px) {
              img#video_play {
              display: block;
              height: auto;
              width: 100%;
              
              position: relative;
            }
            iframe {
              height: 100%;
              
              top:0px;
              position: absolute;
              left:0px;
              width: 100%;
              margin:0% auto;
            }
            .wrapper {
                float:none;
                margin: 0% auto;
             position: relative;
            }
            }
            #view_page_tabs {
              padding:0px 20px;
              border-bottom: 1px solid darkgrey; 
            }