
#event_page_centric	{
	margin: 20% auto;
}
#event_name	{
	font-size: 40px;
	color: white;
	padding: 10px;
	letter-spacing: 5px;
}
#event_nav_bar	{
	position: absolute;
	bottom: 0px;
	color: white;
	background-color: rgba(0,0,0,0.4);
	width: 100%;	
	padding: 10px;
}
#event_nav_bar span 	{
	padding: 10px;
}
#event_page_info	{
	position: relative;
	float: left;
	width: 50%;
	height:100%
	overflow:hidden;
}
#arrow_right	{
	position: absolute;
	top: 50%;
	font-size: 25px;
	right: 20px;	
}
#arrow_left	{
	position: absolute;
	top: 50%;
	font-size: 25px;
	left: 20px;	
	color: black;
}
#event_page_cntnt	{
	position: relative;
	float: left;
	width: 50%;
	height:100%;
	overflow:hidden;
	background-color: white;
	color: black;	
}
.container-inner	{
	width: 200%;	
	position: relative;
	height: 100%;
}
#req_user_info	{
	list-style-type: none;
}
full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
  }
  #que	{
  	text-align: left;
  }
  #create_event	th{
  		text-align: right;
  		width: 40%;
  		padding: 5px 10px;
  }

  #create_event	td	{
  	text-align: left;
  	padding: 5px 10px;
  }
  .datepckr	{
  	padding: 0px;
  }
