
<div ng-include="'components/navbar/navbar.html'"></div>
	
	<!--Facebook likes JS code-->
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>



			<script>
				$(".scroll_anim").click(function(event){     
				    
				    $('html,body').animate({scrollLeft:$(this.hash).offset().left}, 500);
				});
			</script>



	<div class="container-inner_wrap_out">
	<div class="container-inner thumbs_wrap">
		<div id="event_page_info">

	<!--Background Image-->

			<div style="position:absolute;z-index:-1;top:0px;width:100%;height:100%;"><img src="EventImg/saarang.jpg" width="100%" height="100%	">
			</div>


			<div>

				<div class="centric" id="event_page_centric">
					<div id="event_name">Saarang</div> 
					<a href="#event_page_cntnt" id="arrow_right" class="scroll_anim">>></a>
					<button type="button" data-toggle="modal" data-target="#img_view">Register</button>
					<button>Website</button>
					<div class="fb-like" data-href="https://www.facebook.com/saavasteam?notif_t=page_new_likes" data-width="0px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
				</div>
				<div id="event_nav_bar" class="centric">
					<span>Events</span>
					<span>About</span>
					<span>Team</span>
					<span>Sponsers</span>					
				</div>
			</div>
			

		</div>

		<div id="event_page_cntnt">
			
			<a href="#event_page_info" id="arrow_left" class="scroll_anim"><<</a>
					<div id="HOF_div" onclick="document.getElementById('HOF_display').style.display = 'block'">
		        		<ul>
		        			<a href="#about_user" data-toggle="tab"><li>About</li></a>
		        			<a href="#HOF" data-toggle="tab"><li>Hall of Fame</li></a>
		        		</ul>
		        	</div>
		        	<div id="HOF_display" class="tab-content">
		        		<button type="button" class="close" onclick="document.getElementById('HOF_display').style.display = 'none'">&times;</button>

		        		<span id="about_user" class="tab-pane fade">
		        			
		        			<h4>About<hr></hr></h4>
		        			
								Prabhas (born Prabhas Raju Uppalapati) is an Indian film actor known for his works exclusively in the Telugu cinema.[1] Prabhas is the nephew of Telugu actor Uppalapati Krishnam Raju.[2] Prabhas made his film debut with the 2002 drama film, Eshwar. His works include box office hits such as Varsham (2004), Chatrapathi (2005), Chakram (2005), Billa (2009), Mr. Perfect (2011), Mirchi (2013) and Baahubali: The Beginning (2015).[3] In 2014 he appeared in the Bollywood film Action Jackson directed by Prabhudeva. He stars in Baahubali: The Beginning (2015), which recorded the highest grossing opening for an Indian film.</br>
								Prabhas was born to U. Suryanarayana Raju and Siva Kumari. He is the youngest of three children, with an elder brother Pramod Uppalapati and sister Pragathi. He is the nephew of Telugu actor Uppalapati Krishnam Raju.[7]
								Prabhas was born to U. Suryanarayana Raju and Siva Kumari. He is the youngest of three children, with an elder brother Pramod Uppalapati and sister Pragathi. He is the nephew of Telugu actor Uppalapati Krishnam Raju.[7]
						</span>
		        		<span id="HOF" class="tab-pane fade">
		        			<h4>Hall of Fame<hr></hr></h4>
		        			Actor
		        		</span>
		        	</div>

			
		</div>
	</div>
	</div>


<div id="img_view" class="modal fade" role="dialog">
  <div class="modal-dialog">
  	<!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">What info do you need?</h4>
      </div>
      <div class="modal-body">

      	<form>
      		<table id="create_event">
      			<tr>
      				<th>Event Name</th>
      				<td><input type="text" name="event_name" placeholder="Event Name"></td>
      			</tr>
      			<tr>
      				<th>Description</th>
      				<td><input type="text" name="description" placeholder="Description"></td>
      			</tr>
      			<tr>
      				<th>Venue</th>
      				<td><input type="text" name="venue" placeholder="Venue"></td>
      			</tr>
      			<tr>
      				<th>Start time</th>
      				<td><div class="col-md-6 datepckr">
				            <p class="input-group">
				              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2037-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" style="height:34px" />
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </p>
				        </div>  
				    </td>
      			</tr>
      			<tr>
      				<th>End time</th>
      				<td><div class="col-md-6 datepckr">
				            <p class="input-group">
				              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2037-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" style="height:34px" />
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>

				            </p>
				        </div>  
				    </td>
      			</tr>
      		</table>
      	</form>
      		<br>
      				<b>Should users register to come to your event?</b></th>
      				<select>
						  <option value="Yes">Yes</option>
						  <option value="No">No</option>
						  <option value="I will tell later">I will tell later</option>
					</select>
					
				
      		
      	
      		
      		
        <ul id="req_user_info">
        	<li><input type="checkbox" name="name"> Name</li>
        	<li><input type="checkbox" name="email"> Email</li>
        	<li><input type="checkbox" name="ph_no"> Phone Number</li>
        	<li><input type="checkbox" name="roll_no"> Roll No.</li>
        	<li><input type="checkbox" name="room_addr"> Room and Hostel</li>
        </ul>
        
       

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Next</button>
      </div>
    </div>

  </div>

   
