#stage_info	{
	padding: 55px 10px 10px 10px;
	height: 400px;
	background-color: #007EA7;
	color: white;
	float: right;
}
#stage_pic	{
	padding: 2px;
	border:1px solid grey;
	background-color: white;
	height: 400px;
	overflow: hidden;
}
#stage_content	{
	background-color: white;
	height: 400px;
	padding: 0px;
}
.nav-tabs	{
	background-color: grey;
}
.tab-content	{
	padding: 10px;
}