<div ng-include="'components/navbar/navbar.html'"></div>
<div >
	<div>
		<div id="stage_info" class="col-md-3">
			<span><h2>{{stage.name}}</h2></span>
		<!--	<span><p>{{stage.description}}</p></span>	-->
			<button ng-hide="isFollowing" style="color:black" ng-click="follow()" id="upload_btn">Follow</button>
			<button ng-show="isFollowing" style="color:black" ng-click="unfollow()" class="w2b" id="pload_btn">Following....</button>
		</div>
		<div id="stage_pic" class="col-md-12"><img src="{{stage.posterUrl}}" width="100%" height="400px" alt="Badminton ART"></div>
	</div>
	<div>
		<div id="stage_content">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#bkd">Want you to see</a></li>
				<li><a href="#trending" data-toggle="tab">Will love to see</a></li>
				<li><a href="#everything" data-toggle="tab">Everything to see</a></li>
			</ul>

			<div class="tab-content col-md-9">
				<div id="bkd" class="tab-pane fade in active">Booked content will be here</div>
				<div id="trending" class="tab-pane fade">Hot content </div>
				<div id="everything" class="tab-pane fade">Everthing related to stage will be here sorted by time</div>
			</div>
			<div class="col-md-3" id="groups_list">
				<div id="clubs_list_wrap">Groups showup if you logged in</div>
			</div>
		</div>
		
	</div>
</div>
